<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl d-grid gap-5">

            <div class="col-auto">
                <h1 class="app-page-title mb-0">New Received-Voucher</h1>
            </div>
            <div class="col-auto">
                <form action="/rvouchers/edit/<%= result.ID%>" method="POST">
                    <div class="d-grid gap-5">
                        <div class="row">
                            <label for="voucher-id" class="col-form-label">Voucher ID:</label>
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" name="RV" value="RV" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="req-supplierid" name="rvid"
                                        value="<%=result.RVNo%>" required>
                                </div>
                                <div class="col-sm-2">

                                    <select id="rv-year" class="form-select" name="rvyear" required>
                                        <% for(let count=-1; count <=1; count++ ){ %>
                                            <% if(result.RVYear===new Date().getFullYear() + count){ %>
                                                <option value="<%= (new Date().getFullYear() + count) %>" selected>
                                                    <%= (new Date().getFullYear() + count) %>
                                                </option>
                                                <% } else { %>
                                                    <option value="<%= (new Date().getFullYear() + count) %>">
                                                        <%= (new Date().getFullYear() + count) %>
                                                    </option>
                                                    <% } %>
                                                        <% } %>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="station-id" class="col-form-label">Supplier:</label>
                                <div class="row">
                                    <input class="form-control d-inline" id="supplier" type="text" name="stationid"
                                        required value="<%= result.Supplier%>">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="scheme-id" class="col-form-label">Scheme:</label>

                                <select id="scheme-id" name="schemeid" class="form-select" required>
                                    <% schemeRows.forEach(function(scheme) { %>
                                        <% if(result.Scheme===scheme.ID){ %>
                                            <option value="<%= scheme.ID %>" selected>
                                                <%= scheme.Name %>
                                            </option>
                                            <% } else { %>
                                                <option value="<%= scheme.ID %>">
                                                    <%= scheme.Name %>
                                                </option>
                                                <% } %>
                                                    <% }); %>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="date-of-rcv" class="col-form-label">Date of Receival:</label>
                                <input class="form-control d-inline" id="date-of-rcv" type="date" name="dor"
                                    value="<%= new Date(new Date(result.DateOfReceival).getTime() + 330 * 60 * 1000).toISOString().slice(0, 10) %>"
                                    required>
                            </div>
                            <div class="col-sm-6">
                                <label for="v-s-no" class="col-form-label">Serial No.:</label>
                                <input class="form-control d-inline" id="v-s-no" type="number" min="0" step="1"
                                    name="sno" value="<%= result.SNo%>" placeholder="S. No." required>
                            </div>
                        </div>
                        <div id="message-validate" class="d-none">
                            <div class="alert alert-danger" role="alert">
                                <strong>
                                    Please add items to the list before submitting.
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">

                                <div class="row">
                                    <table id='added-items-table' class="table app-table-hover mb-0 text-center"
                                        style="font-size:0.8em;">
                                        <thead>
                                            <tr>
                                                <th class="cell">Item Name</th>
                                                <th class="cell">Quantity</th>
                                                <th class="cell">Reference No.</th>
                                                <th class="cell">Reference Date</th>
                                                <th class="cell">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="added-items-tbody">
                                            <% rvItemlist.forEach(function(rvItem) { %>


                                                <tr id="<%= rvItem.Name%>">


                                                    <td class="cell">
                                                        <%= rvItem.Name %>
                                                    </td>

                                                    <td class="cell">
                                                        <input class="form-control w-75 ms-4" id="req-<%= rvItem.Name%>"
                                                            type="number" min="0" step="1" name="ReqQty"
                                                            onblur="checkItem(this)" value="<%= rvItem.rvItemQty%>"
                                                            placeholder="Required" required>
                                                    </td>
                                                    <td class="cell">
                                                        <input class="form-control w-75 ms-4" id="ref-<%= rvItem.Name%>"
                                                            type="number" min="0" step="1" name="ReqQty"
                                                            onblur="checkItem(this)" value="<%= rvItem.rvItemQty%>"
                                                            placeholder="Required" required>
                                                    </td>
                                                    <td class="cell">
                                                        <input class="form-control w-50" type="date"
                                                            id="date-<%= rvItem.Name%>" name="RefDate"
                                                            value="<%= new Date(rvItem.rvItemRefDate).toISOString().slice(0, 10) %>"
                                                            onblur=" checkItem(this)">
                                                    </td>

                                                    <td class="cell">
                                                        <button type="button" class="btn app-btn-secondary"
                                                            onclick="delRow('<%= rvItem.Name%>')">Delete</button>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                    <!-- <ul class="added-items-ul">

                                    </ul> -->
                                    <label for="scheme-id" class="col-form-label">Add Item:</label>
                                    <div class="col-sm-4">
                                        <select id="item-name-drop" name="itemid" class="form-select" required>
                                            <% itemRows.forEach(function(item) { %>
                                                <option value="<%= item.ID %>">
                                                    <%= item.Name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control d-inline" id="item-qty-required" type="number"
                                            min="0" step="1" name="ReqQty" placeholder="Qty. received">
                                    </div>
                                    <div class="col-sm-4 d-flex">
                                        <input class="form-control w-50" id="item-ref-no" type="number" min="0" step="1"
                                            name="RefNo" placeholder="Ref. No.">
                                        <input class="form-control w-50" type="date" id="item-ref-date" name="RefDate"
                                            value="">
                                    </div>

                                    <div class="col-sm-2">
                                        <button type="button" id="req-item-add"
                                            class="btn app-btn-secondary">Add</button>
                                        <input type="text" id="added-JSON" name="addedJSON" class="d-none">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
                            <input type="submit" id="submit-btn-ov" class="text-white btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">

    </footer>
    <!--//app-footer-->

</div>



<script>
    var reqList = '<%- JSON.stringify(rvItemlist) %>'
    var list = JSON.parse(reqList);
    addedItemsList = {};
    //loop list and add  to addedItemsList
    list.forEach(function (item) {
        addedItemsList[item.Name] = {
            'reqQty': item.rvItemQty,
            'refNo': item.rvItemRefNo,
            'refDate': item.rvItemRefDate
        };
    });
    console.log(addedItemsList);
    function checkItem(thi) {

        console.log(thi);
        let id = thi.id.split("-")[1];


        let itemReqQty = document.getElementById(`req-${id}`).value;
        let itemRefNo = document.getElementById(`ref-${id}`).value;
        let itemRefDate = document.getElementById(`date-${id}`).value;

        if (itemReqQty < 0) {
            alert('Reqested quantity cannot be negative');
            document.getElementById(`req-${id}`).value = addedItemsList[id].reqQty;

            return;
        }

        delete addedItemsList[id];

        addedItemsList[id] = {
            'reqQty': itemReqQty,
            'refNo': itemRefNo,
            'refDate': itemRefDate
        };
    }
    function delRow(id) {
        var row = document.getElementById(id);
        row.parentNode.removeChild(row);
        delete addedItemsList[id];
    }
    const reqAddBtn = document.getElementById('req-item-add');
    const submitBtn = document.getElementById('submit-btn-ov');
    reqAddBtn.addEventListener('click', (e) => {
        let itemName = document.getElementById('item-name-drop').options[document.getElementById('item-name-drop').selectedIndex].text;
        let itemReqQty = document.getElementById('item-qty-required').value;
        let itemRefNo = document.getElementById('item-ref-no').value;
        let itemRefDate = document.getElementById('item-ref-date').value;

        if (itemName && itemReqQty && itemRefNo && itemRefDate) {

            if (itemName in addedItemsList) {
                alert("Item already added.");
                // addedItemsList[itemName]['reqQty'] += itemReqQty;
                // addedItemsList[itemName]['passedQty'] += itemPassedQty;
            } else {
                document.querySelector('#added-items-tbody').innerHTML += `<tr id='${itemName}'>
                                                

                                                <td class="cell">${itemName}</td>
                                                    
                                                    <td class="cell">
                                                        <input class="form-control w-75 ms-4" id="req-${itemName}" type="number"
                                                            min="0" step="1" name="ReqQty" onblur="checkItem(this)"
                                                            value="${itemReqQty}" placeholder="Required"
                                                            required>
                                                    </td>
                                                    <td class="cell">
                                                        <input class="form-control w-75 ms-4" id="ref-${itemName}" type="number"
                                                            min="0" step="1" name="ReqQty" onblur="checkItem(this)"
                                                            value="${itemRefNo}" placeholder="Required"
                                                            required>
                                                    </td>
                                                    <td class="cell">
                                                        <input class="form-control w-50" type="date" id="date-${itemName}" name="RefDate"
                                            value="${itemRefDate}" " onblur="checkItem(this)">
                                                    </td>
                                                    
                                                    <td class="cell">
                                                        <button type="button" class="btn app-btn-secondary"
                                                            onclick="delRow('${itemName}')">Delete</button>
                                                    </td>
                                                </tr>`;
                addedItemsList[itemName] = {
                    'reqQty': itemReqQty,
                    'refNo': itemRefNo,
                    'refDate': itemRefDate
                };
            }
        } else {
            alert("Please fill all the fields.");
        }

        if (Object.keys(addedItemsList).length >= 1) {


            document.querySelector('#message-validate').classList.add('d-none');
            document.querySelector('#added-items-table').classList.remove('d-none');
        }
    });
    submitBtn.addEventListener('click', (e) => {
        document.querySelector('#added-JSON').value = JSON.stringify(addedItemsList);
        if (Object.keys(addedItemsList).length < 1) {
            e.preventDefault();
            document.querySelector('#message-validate').classList.remove('d-none');
            // document.querySelector('#added-items-table').classList.add('d-none');
        }
        else {
            document.querySelector('#message-validate').classList.add('d-none');
            document.querySelector('#added-items-table').classList.remove('d-none');
        }
    });
</script>