<header class="app-header fixed-top">
    <div class="app-header-inner">
        <div class="container-fluid py-2">
            <div class="app-header-content">
                <div class="row justify-content-between align-items-center">

                    <div class="col-auto">
                        <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                role="img">
                                <title>Menu</title>
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                                    stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                            </svg>
                        </a>
                    </div>
                    <!--//col-->
                    <div class="col-auto d-none d-sm-block">
                        <% if (user) { %>
                            <h4>Welcome <%= user %>
                            </h4>
                            <% } %>

                    </div>
                    <!--//col-->
                    <div class="app-utilities col-auto">
                        <div class="app-utility-item app-user-dropdown dropdown">
                            <a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                role="button" aria-expanded="false"><img src="/assets/images/user.svg"
                                    alt="user profile"></a>
                            <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
                                <!-- <li><a class="dropdown-item" href="account.html">Account</a></li>
                                <li><a class="dropdown-item" href="settings.html">Settings</a></li> -->
                                <!-- <li>
                                    <hr class="dropdown-divider">
                                </li> -->
                                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                            </ul>
                        </div>
                        <!--//app-user-dropdown-->
                    </div>
                    <!--//app-utilities-->
                </div>
                <!--//row-->
            </div>
            <!--//app-header-content-->
        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-header-inner-->
    <div id="app-sidepanel" class="app-sidepanel">
        <div id="sidepanel-drop" class="sidepanel-drop"></div>
        <div class="sidepanel-inner d-flex flex-column">
            <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
            <div class="app-branding">
                <a class="app-logo" href="/"><img class="logo-icon me-2"
                        src="/assets/favicon/android-chrome-512x512.png" alt="logo"><span
                        class="logo-text">&ensp;IMIS</span></a>

            </div>
            <!--//app-branding-->

            <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
                <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= option ==='dashboard' && 'active' %>" href="/">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    style="fill: rgba(0, 0, 0, 1);">
                                    <path
                                        d="M4 13h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1zm-1 7a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v4zm10 0a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-7a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v7zm1-10h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1z">
                                    </path>
                                </svg>
                            </span>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='ivouchers' || option === 'newIV') && 'active' %>"
                            href="/ivouchers">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    style="fill: rgba(0, 0, 0, 1);">
                                    <path
                                        d="m21.706 5.292-2.999-2.999A.996.996 0 0 0 18 2H6a.996.996 0 0 0-.707.293L2.294 5.292A.994.994 0 0 0 2 6v13c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6a.994.994 0 0 0-.294-.708zM6.414 4h11.172l1 1H5.414l1-1zM4 19V7h16l.002 12H4z">
                                    </path>
                                    <path d="M7 14h3v3h4v-3h3l-5-5z"></path>
                                </svg>
                            </span>
                            <span class="nav-link-text">Issued Vouchers</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='rvouchers' || option === 'newRV') && 'active' %>"
                            href="/rvouchers">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    style="fill: rgba(0, 0, 0, 1);">
                                    <path
                                        d="m21.706 5.292-2.999-2.999A.996.996 0 0 0 18 2H6a.996.996 0 0 0-.707.293L2.294 5.292A.994.994 0 0 0 2 6v13c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6a.994.994 0 0 0-.294-.708zM6.414 4h11.172l1 1H5.414l1-1zM4 19V7h16l.002 12H4z">
                                    </path>
                                    <path d="M14 9h-4v3H7l5 5 5-5h-3z"></path>
                                </svg>
                            </span>
                            <span class="nav-link-text">Received Vouchers</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='items' || option === 'newItem' || option === 'itemHistory') && 'active' %>"
                            href="/items">
                            <span class="nav-icon">
                                <img src="https://img.icons8.com/material-outlined/24/000000/open-box.png" />
                            </span>
                            <span class="nav-link-text">Items</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='categories' || option === 'newCategory') && 'active' %>"
                            href="/categories">
                            <span class="nav-icon">
                                <img
                                    src="https://img.icons8.com/external-gradak-royyan-wijaya/24/000000/external-categories-gradak-interface-solidarity-gradak-royyan-wijaya.png" />
                            </span>
                            <span class="nav-link-text">Categories</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='stations' || option === 'newStation') && 'active' %>"
                            href="/stations">
                            <span class="nav-icon">
                                <img
                                    src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/000000/external-police-building-tanah-basah-basic-outline-tanah-basah.png" />
                            </span>
                            <span class="nav-link-text">Stations</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='schemes' || option === 'newScheme') && 'active' %>"
                            href="/schemes">
                            <span class="nav-icon">
                                <img src="https://img.icons8.com/material-outlined/24/000000/group-of-projects.png" />
                            </span>
                            <span class="nav-link-text">Schemes</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= option ==='report' && 'active' %>"
                            href="/report">
                            <span class="nav-icon">
                                <img src="https://img.icons8.com/material-outlined/24/000000/group-of-projects.png" />
                            </span>
                            <span class="nav-link-text">Report</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <!--//nav-item-->
                    <!--//nav-item-->
                </ul>
                <!--//app-menu-->
            </nav>
            <!--//app-nav-->
            <div class="app-sidepanel-footer">
                <nav class="app-nav app-nav-main">
                    <ul class="app-menu footer-menu list-unstyled">
                        <li class="p-3 text-center ">

                             Developed by <a href="">4 people </a><br>from<a href="https://www.psgtech.edu/hme.php?var=AMC" target="_blank"> PSG</a>.

                        </li>

                    </ul>

                </nav>
            </div>
            <!--//app-sidepanel-footer-->

        </div>
        <!--//sidepanel-inner-->
    </div>
    <!--//app-sidepanel-->
</header>