<header class="app-header fixed-top">
    <div class="app-header-inner">
        <div class="container-fluid py-2">
            <div class="app-header-content">
                <div class="row justify-content-between align-items-center">

                    <div class="col-auto">
                        <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                role="img">
                                <title>Menu</title>
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                                    stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                            </svg>
                        </a>
                    </div>
                    <!--//col-->
                    <div class="col-auto d-none d-sm-block">
                        <% if (user) { %>
                            <h4>Welcome <%= user %>
                            </h4>
                            <% } %>

                    </div>
                    <!--//col-->
                    <div class="app-utilities col-auto">
                        <div class="app-utility-item app-user-dropdown dropdown">
                            <a class="dropdown-toggle" id="user-dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                role="button" aria-expanded="false"><img src="/assets/images/user.svg"
                                    alt="user profile"></a>
                            <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
                                <!-- <li><a class="dropdown-item" href="account.html">Account</a></li>
                                <li><a class="dropdown-item" href="settings.html">Settings</a></li> -->
                                <!-- <li>
                                    <hr class="dropdown-divider">
                                </li> -->
                                <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                            </ul>
                        </div>
                        <!--//app-user-dropdown-->
                    </div>
                    <!--//app-utilities-->
                </div>
                <!--//row-->
            </div>
            <!--//app-header-content-->
        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-header-inner-->
    <div id="app-sidepanel" class="app-sidepanel">
        <div id="sidepanel-drop" class="sidepanel-drop"></div>
        <div class="sidepanel-inner d-flex flex-column">
            <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
            <div class="app-branding">
                <a class="app-logo" href="/"><img class="logo-icon me-2"
                        src="/assets/favicon/android-chrome-512x512.png" alt="logo"><span
                        class="logo-text">&ensp;IMIS</span></a>

            </div>
            <!--//app-branding-->

            <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
                <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= option ==='dashboard' && 'active' %>" href="/">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                                    <path
                                        d="M13 9V3h8v6ZM3 13V3h8v10Zm10 8V11h8v10ZM3 21v-6h8v6Zm2-10h4V5H5Zm10 8h4v-6h-4Zm0-12h4V5h-4ZM5 19h4v-2H5Zm4-8Zm6-4Zm0 6Zm-6 4Z" />
                                </svg>
                            </span>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='ivouchers' || option === 'newIV') && 'active' %>"
                            href="/ivouchers">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                                    <path
                                        d="M5 21q-.825 0-1.413-.587Q3 19.825 3 19V6.5q0-.375.125-.675.125-.3.325-.575l1.4-1.7q.2-.275.5-.413Q5.65 3 6 3h12q.35 0 .65.137.3.138.5.413l1.4 1.7q.2.275.325.575.125.3.125.675V19q0 .825-.587 1.413Q19.825 21 19 21Zm.4-15h13.2l-.85-1H6.25ZM5 8v11h14V8Zm6 10h2v-4.2l1.6 1.6L16 14l-4-4-4 4 1.4 1.4 1.6-1.6Zm-6 1h14H5Z" />
                                </svg>
                            </span>
                            <span class="nav-link-text">Issued Vouchers</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='rvouchers' || option === 'newRV') && 'active' %>"
                            href="/rvouchers">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                                    <path
                                        d="M5 21q-.825 0-1.413-.587Q3 19.825 3 19V6.5q0-.375.125-.675.125-.3.325-.575l1.4-1.7q.2-.275.5-.413Q5.65 3 6 3h12q.35 0 .65.137.3.138.5.413l1.4 1.7q.2.275.325.575.125.3.125.675V19q0 .825-.587 1.413Q19.825 21 19 21Zm.4-15h13.2l-.85-1H6.25ZM5 8v11h14V8Zm7 10 4-4-1.4-1.4-1.6 1.6V10h-2v4.2l-1.6-1.6L8 14Zm-7 1h14H5Z" />
                                </svg>
                            </span>
                            <span class="nav-link-text">Received Vouchers</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='items' || option === 'newItem' || option === 'itemHistory') && 'active' %>"
                            href="/items">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                                    <path
                                        d="M6 22q-1.25 0-2.125-.875T3 19v-3h3V2l1.5 1.5L9 2l1.5 1.5L12 2l1.5 1.5L15 2l1.5 1.5L18 2l1.5 1.5L21 2v17q0 1.25-.875 2.125T18 22Zm12-2q.425 0 .712-.288Q19 19.425 19 19V5H8v11h9v3q0 .425.288.712.287.288.712.288ZM9 9V7h6v2Zm0 3v-2h6v2Zm8-3q-.425 0-.712-.288Q16 8.425 16 8t.288-.713Q16.575 7 17 7t.712.287Q18 7.575 18 8t-.288.712Q17.425 9 17 9Zm0 3q-.425 0-.712-.288Q16 11.425 16 11t.288-.713Q16.575 10 17 10t.712.287Q18 10.575 18 11t-.288.712Q17.425 12 17 12ZM6 20h9v-2H5v1q0 .425.287.712Q5.575 20 6 20Zm-1 0v-2 2Z" />
                                </svg>
                            </span>
                            <span class="nav-link-text">Items</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='categories' || option === 'newCategory') && 'active' %>"
                            href="/categories">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                                    <path
                                        d="M3 22v-7h3v-4h5V9H8V2h8v7h-3v2h5v4h3v7h-8v-7h3v-2H8v2h3v7Zm7-15h4V4h-4ZM5 20h4v-3H5Zm10 0h4v-3h-4ZM12 7ZM9 17Zm6 0Z" />
                                </svg> </span>
                            <span class="nav-link-text">Categories</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='stations' || option === 'newStation') && 'active' %>"
                            href="/stations">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                                    <path
                                        d="M18 23v-3h-3v-2h3v-3h2v3h3v2h-3v3ZM2 20v-6H1v-2l1-5h15l1 5v2h-1v3h-2v-3h-4v6Zm2-2h5v-4H4Zm-.95-6h12.9ZM2 6V4h15v2Zm1.05 6h12.9l-.6-3H3.65Z" />
                                </svg> </span>
                            <span class="nav-link-text">Stations</span>
                        </a>
                        <!--//nav-link-->
                    </li>
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link  <%= (option ==='schemes' || option === 'newScheme') && 'active' %>"
                            href="/schemes">
                            <span class="nav-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor">
                                    <path
                                        d="M12 11q-1.65 0-2.825-1.175Q8 8.65 8 7q0-1.65 1.175-2.825Q10.35 3 12 3q1.65 0 2.825 1.175Q16 5.35 16 7q0 1.65-1.175 2.825Q13.65 11 12 11Zm0-2q.825 0 1.413-.588Q14 7.825 14 7t-.587-1.412Q12.825 5 12 5q-.825 0-1.412.588Q10 6.175 10 7t.588 1.412Q11.175 9 12 9ZM7 21q-1.65 0-2.825-1.175Q3 18.65 3 17q0-1.65 1.175-2.825Q5.35 13 7 13q1.65 0 2.825 1.175Q11 15.35 11 17q0 1.65-1.175 2.825Q8.65 21 7 21Zm0-2q.825 0 1.412-.587Q9 17.825 9 17q0-.825-.588-1.412Q7.825 15 7 15t-1.412.588Q5 16.175 5 17t.588 1.413Q6.175 19 7 19Zm10 2q-1.65 0-2.825-1.175Q13 18.65 13 17q0-1.65 1.175-2.825Q15.35 13 17 13q1.65 0 2.825 1.175Q21 15.35 21 17q0 1.65-1.175 2.825Q18.65 21 17 21Zm0-2q.825 0 1.413-.587Q19 17.825 19 17q0-.825-.587-1.412Q17.825 15 17 15q-.825 0-1.412.588Q15 16.175 15 17t.588 1.413Q16.175 19 17 19ZM12 7ZM7 17Zm10 0Z" />
                                </svg>
                            </span>
                            <span class="nav-link-text">Schemes</span>
                        </a>
                        <!--//nav-link-->
                    </li>

                    <!--//nav-item-->
                    <!--//nav-item-->
                </ul>
                <!--//app-menu-->
            </nav>
            <!--//app-nav-->

            <!--//app-sidepanel-footer-->

        </div>
        <!--//sidepanel-inner-->
    </div>
    <!--//app-sidepanel-->
</header>