<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Items</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">

                            <!--//col-->

                            <% if(auth==3){ %>
                                <div class="col-auto">

                                    <a href="/items/new">

                                        <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#newEntryModal">New Item</button>
                                    </a>

                                </div>
                                <% } %>

                        </div>
                        <!--//row-->
                    </div>
                    <!--//table-utilities-->
                </div>
                <!--//col-auto-->
            </div>
            <!--//row-->




            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <form class="form-group">
                    <div class="row">
                        <div class="col-12 col-md-8" id="filterBns"></div>
                        <div class="col-12 col-md-4">
                            <div class="d-flex  justify-content-center justify-content-md-end align-items-center">
                                <label for="searchField">Search:</label>
                                <input type="text" class="form-control" id="searchField" style="max-width: 250px;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div id="tbl_print" class="table-responsive">
                                <table id="itemsTable" class="table  app-table-hover mb-0" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="cell">ID</th>
                                            <th class="cell">Category Name</th>
                                            <th class="cell">Name</th>
                                            <th class="cell">Quantity</th>
                                            <th class="cell">Life</th>
                                            <th class="cell">Option</th>
                                            <th class="cell">History</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% itemsData.forEach(function(item) { %>
                                            <tr>
                                                <td class="cell">
                                                    <%= item.ID %>
                                                </td>
                                                <td class="cell">

                                                    <% for( var i=0; i < categs.length; i++){ %>
                                                        <% if(categs[i].ID===item.CategoryID){ %>
                                                            <%= categs[i].Name %>
                                                                <% } %>
                                                                    <% } %>

                                                </td>
                                                <td class="cell">
                                                    <%= item.Name %>
                                                </td>
                                                <td class="cell">
                                                    <%= item.Quantity %>
                                                </td>
                                                <td class="cell">
                                                    <%= item.Life %>
                                                </td>
                                                <td>
                                                    <a href="/items/edit/<%=item.ID%>">
                                                        <button type="button"
                                                            class="btn app-btn-secondary">Edit</button>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/items/history/<%=item.ID%>">
                                                        <button type="button"
                                                            class="btn app-btn-secondary">View</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>

                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->

                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->
            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">
        <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                    style="color: #fb866a;"></i> by students of<a class="app-link"
                    href="https://www.psgtech.edu/hme.php?var=AMC" target="_blank"> PSG TECH</a> for Coimbatore City
                Police Commissioner Office</small>

        </div>
    </footer>
    <!--//app-footer-->

</div>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
    alertify.set('notifier', 'position', 'bottom-right');
    var status = '<%= status %>';
    console.log(status);
    if (status == 'Addsuccess') {
        alertify.success('Scheme Added Successfully!');
    } else if (status == 'Editsuccess') {
        alertify.success('Scheme Updated Successfully!');

    } else if (status == 'Deletesuccess') {
        alertify.success('Scheme Deleted Successfully!');

    } else if (status == 'Existerror') {
        alertify.warning('Scheme Already Exists!');
    }

    const dwnldBtn = document.getElementById('dwnld-btn');
    const printBtn = document.getElementById('print-btn');


    dwnldBtn.addEventListener('click', () => {
        ExportToExcel('xlsx');
    })

    printBtn.addEventListener('click', () => {
        printDiv('tbl_print');
    })


    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('tbl_export');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
    }
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>