<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Items</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">

                            <!--//col-->
                            <!-- <div class="col-auto">

                                <select class="form-select w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">This week</option>
                                    <option value="option-3">This month</option>
                                    <option value="option-4">Last 3 months</option>

                                </select>
                            </div> -->
                            <% if(auth==3){ %>
                                <div class="col-auto">
                                    <!-- <a class="btn app-btn-secondary" href="#">
                                <i class="fa-solid fa-plus"></i>
                                New Entry
                            </a> -->
                                    <a href="/items/new">

                                        <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#newEntryModal">New Item</button>
                                    </a>

                                </div>
                                <% } %>

                        </div>
                        <!--//row-->
                    </div>
                    <!--//table-utilities-->
                </div>
                <!--//col-auto-->
            </div>
            <!--//row-->


            <!-- <nav id="orders-table-tab"
                class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab"
                    href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-bs-toggle="tab"
                    href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Paid</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab"
                    href="#orders-pending" role="tab" aria-controls="orders-pending"
                    aria-selected="false">Pending</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab"
                    href="#orders-cancelled" role="tab" aria-controls="orders-cancelled"
                    aria-selected="false">Cancelled</a>
            </nav> -->


            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div id="tbl_print" class="table-responsive">
                                <table id="itemsTable" class="table  app-table-hover mb-0" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="cell">ID</th>
                                            <th class="cell">Category Name</th>
                                            <th class="cell">Name</th>
                                            <th class="cell">Quantity</th>
                                            <th class="cell">Life</th>
                                            <th class="cell">Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% itemsData.forEach(function(item) { %>
                                            <tr>
                                                <td class="cell">
                                                    <%= item.ID %>
                                                </td>
                                                <td class="cell">

                                                    <% for( var i=0; i < categs.length; i++){ %>
                                                        <% if(categs[i].ID===item.CategoryID){ %>
                                                            <%= categs[i].Name %>
                                                                <% } %>
                                                                    <% } %>

                                                </td>
                                                <td class="cell">
                                                    <%= item.Name %>
                                                </td>
                                                <td class="cell">
                                                    <%= item.Quantity %>
                                                </td>
                                                <td class="cell">
                                                    <%= item.Life %>
                                                </td>
                                                <td>
                                                    <a href="/items/edit/<%=item.ID%>">
                                                        <button type="button"
                                                            class="btn app-btn-secondary">Edit</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                                <!-- <table id="dtBasicExample" class="table table-striped table-bordered table-sm"
                                    cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-sm">Name

                                            </th>
                                            <th class="th-sm">Position

                                            </th>
                                            <th class="th-sm">Office

                                            </th>
                                            <th class="th-sm">Age

                                            </th>
                                            <th class="th-sm">Start date

                                            </th>
                                            <th class="th-sm">Salary

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>

                                        <tr>
                                            <td>Michael Bruce</td>
                                            <td>Javascript Developer</td>
                                            <td>Singapore</td>
                                            <td>29</td>
                                            <td>2011/06/27</td>
                                            <td>$183,000</td>
                                        </tr>
                                        <tr>
                                            <td>Donna Snider</td>
                                            <td>Customer Support</td>
                                            <td>New York</td>
                                            <td>27</td>
                                            <td>2011/01/25</td>
                                            <td>$112,000</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name
                                            </th>
                                            <th>Position
                                            </th>
                                            <th>Office
                                            </th>
                                            <th>Age
                                            </th>
                                            <th>Start date
                                            </th>
                                            <th>Salary
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table> -->
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <!-- <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->
            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">

    </footer>
    <!--//app-footer-->

</div>


<script>
    const dwnldBtn = document.getElementById('dwnld-btn');
    const printBtn = document.getElementById('print-btn');


    dwnldBtn.addEventListener('click', () => {
        ExportToExcel('xlsx');
    })

    printBtn.addEventListener('click', () => {
        printDiv('tbl_print');
    })


    function ExportToExcel(type, fn, dl) {
        var elt = document.getElementById('tbl_export');
        var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
        return dl ?
            XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
            XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
    }
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>