<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="col-auto mt-100">
                <h1 class="app-page-title mb-100">
                    <%= itemName %>
                </h1>
            </div>
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div id="filterBns"></div>
            </div>
            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="ih-iv" role="tabpanel" aria-labelledby="ih-iv-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">Voucher ID</th>
                                            <th class="cell">Station / Supplier</th>
                                            <th class="cell">Quantity</th>
                                            <th class="cell">
                                                ApprovalDate
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (itemHistoryIVResult.length < 1 ) { %>
                                            <% } else { %>
                                                <% itemHistoryIVResult.forEach( function(item) { %>
                                                    <tr>
                                                        <td class="cell">
                                                            IV/<%= item.IVNo %>/<%= item.IVYear %>
                                                        </td>
                                                        <td class="cell">
                                                            <%= item.stationName %>
                                                        </td>
                                                        <td class="cell">
                                                            - <%= item.ivQtyPassed %>
                                                        </td>
                                                        <td class="cell">
                                                            <%= new Date(item.ApprovalDate).toISOString().slice(0, 10)
                                                                + " " + new
                                                                Date(item.ApprovalDate).toISOString().slice(11, 19) %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                        <% itemHistoryRVResult.forEach( function(item) { %>
                                                            <tr>
                                                                <td class="cell">
                                                                    RV/<%= item.RVNo %>/<%= item.RVYear %>
                                                                </td>
                                                                <td class="cell">
                                                                    <%= item.Supplier %>
                                                                </td>
                                                                <td class="cell">
                                                                    + <%= item.rvItemQty %>
                                                                </td>
                                                                <td class="cell">
                                                                    <%= new
                                                                        Date(item.ApprovalDate).toISOString().slice(0,
                                                                        10) + " " + new
                                                                        Date(item.ApprovalDate).toISOString().slice(11,
                                                                        19) %>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                                <% } %>

                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <!--//app-pagination-->

                </div>


            </div>
            <!--//container-fluid-->
        </div>
        <!--//app-content-->

        <%- include('../partials/footer'); %>
            <!--//app-footer-->

    </div>