<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Issue Vouchers</h1>
                </div>

                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <!-- <div class="col-auto">
                                <form class="table-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-orders" name="searchorders"
                                            class="form-control search-orders" placeholder="Search">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-secondary">Search</button>
                                    </div>
                                </form>

                            </div>
                            <div class="col-auto">

                                <select class="form-select w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">This week</option>
                                    <option value="option-3">This month</option>
                                    <option value="option-4">Last 3 months</option>

                                </select>
                            </div> -->
                            <% if(auth==3){ %>
                                <div class="col-auto">
                                    <a href="/ivouchers/new">

                                        <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#newEntryModal">New Issue Voucher</button>
                                    </a>
                                    <!-- <div class="modal fade" id="newEntryModal" tabindex="-1"
                                            aria-labelledby="newEntryModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="newEntryModalLabel">Enter data
                                                        for
                                                        new i-voucher</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/ivouchers" method="POST">
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">ivoucher
                                                                ID:</label>
                                                            <input type="text" class="form-control" id="req-receiverid"
                                                                name="reqid" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name" class="col-form-label">Receiver
                                                                ID:</label>
                                                            <input type="text" class="form-control" id="req-receiverid"
                                                                name="reqreceiverid" required>
                                                        </div>
                                                        <div id="message-validate" class="mb-3 d-none">
                                                            <div class="alert alert-danger" role="alert">
                                                                <strong>
                                                                    Please add items to the list before submitting.
                                                                </strong>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="message-text" class="col-form-label">Add
                                                                items:</label><br>
                                                            <ul class="added-items-ul">

                                                            </ul>
                                                            <select id="item-name-drop" required>
                                                                <% itemRows.forEach(function(item) { %>
                                                                    <option value="<%= item.ID %>">
                                                                        <%= item.Name %>
                                                                    </option>
                                                                    <% }) %>
                                                            </select>
                                                            <input class="form-control w-75 d-inline" id="item-quantity"
                                                                type="number" min="0" step="1" placeholder="Quantity"
                                                                required>
                                                            <button type="button" id="req-item-add"
                                                                class="btn app-btn-secondary">Add</button>
                                                            <input type="text" id="added-JSON" name="addedJSON"
                                                                class="d-none">
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <input type="submit" id="submit-btn-ov" class="btn btn-primary">
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <% } %>
                                    <!-- <div class="col-auto">
                                <a class="btn app-btn-secondary" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path fill-rule="evenodd"
                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg>
                                    Download CSV
                                </a>
                            </div> -->
                        </div>
                        <!--//row-->
                    </div>
                    <!--//table-utilities-->
                </div>
                <!--//col-auto-->
            </div>
            <!--//row-->

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <form class="form-group">
                    <div id="filterBns" ></div>
                    <input type="text" class="form-control" id="searchField" style="max-width: 250px;">
                </form>
            </div>

            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table id="ivTable" class="table  app-table-hover mb-0" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="cell">IV No.</th>
                                            <th class="cell">Station</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell">Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% ivouchersData.forEach(function(issue) { %>
                                            <tr>
                                                <td class="cell">
                                                    IV/<%= issue.IVNo %>/<%= issue.IVYear %>
                                                </td>
                                                <td class="cell">
                                                    <%= issue.stationName %>
                                                </td>
                                                <td class="cell">
                                                    <%= issue.SNo %>
                                                </td>
                                                <td class="cell">
                                                    <%= issue.schemeName %>
                                                </td>
                                                <td class="cell">
                                                    <%= new Date(issue.DateOfReceival).toISOString().slice(0, 10) %>
                                                </td>
                                                <td class="cell">
                                                    <% if (issue.Approval==0 ) { %>
                                                        <span class="badge badge bg-warning">Pending</span>
                                                        <% } else if (issue.Approval==1 ) { %>
                                                            <span class="badge badge bg-success">Approved</span>
                                                            <% } else if (issue.Approval==2 ) { %>
                                                                <span class="badge badge bg-danger">Declined</span>
                                                                <% } %>
                                                </td>
                                                <td class="cell">
                                                    <% if (issue.Approval!=0 ) { %>
                                                        <%=issue.userName %>
                                                            <% } else { %>
                                                                -
                                                                <% } %>
                                                </td>
                                                <td class="cell">
                                                    <% if (issue.Approval!=0 ) { %>
                                                        <%= new Date(issue.ApprovalDate).toISOString().slice(0, 10)
                                                            + " " + new Date(issue.ApprovalDate).toISOString().slice(11,
                                                            19) %>
                                                            <% } else { %>
                                                                -
                                                                <% } %>
                                                </td>
                                                <td class="cell">

                                                    <div class="col-auto">
                                                        <button type="button" class="btn app-btn-secondary"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#v<%=issue.ID%>">View</button>
                                                        <div class="modal fade" id="v<%=issue.ID%>" tabindex="-1"
                                                            aria-labelledby="v<%=issue.ID%>Label" aria-hidden="true">
                                                            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="viewRequewstLabel">
                                                                            Issued Items List
                                                                        </h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <table class="table  table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Item</th>
                                                                                    <th scope="col">Requested</th>
                                                                                    <th scope="col">Passed</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <% Object.keys(ivItemlist).forEach(function(rID)
                                                                                    { %>
                                                                                    <% if (rID==issue.IVID) { %>
                                                                                        <% Object.keys(ivItemlist[rID]).forEach(function(item)
                                                                                            { %>

                                                                                            <tr>
                                                                                                <td>
                                                                                                    <%= item %>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <%= ivItemlist[rID][item].req
                                                                                                        %>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <%= ivItemlist[rID][item].passed
                                                                                                        %>
                                                                                                </td>
                                                                                            </tr>

                                                                                            <% }) %>
                                                                                                <% } %>
                                                                                                    <% }) %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <% if(auth==2){ %>
                                                                        <div class="modal-footer">

                                                                            <% if (issue.Approval !=1 && issue.Approval
                                                                                !=2) { %>
                                                                                <form
                                                                                    action="/ivouchers/action/<%=issue.ID%>/<%=id%>"
                                                                                    method="post" name="ratings">
                                                                                    <!-- <input type="hidden" name="Id"
                                                                                value=""> -->
                                                                                    <button type="submit"
                                                                                        name="action_type"
                                                                                        value="Accept"
                                                                                        class="btn btn-success text-white">Approve</button>
                                                                                    <button type="submit"
                                                                                        name="action_type"
                                                                                        value="Decline"
                                                                                        class="btn btn-danger text-white"
                                                                                        data-bs-dismiss="modal">Decline</button>
                                                                                </form>
                                                                                <% } %>
                                                                        </div>
                                                                        <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <!-- <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->

                <div class="tab-pane fade" id="orders-approved" role="tabpanel" aria-labelledby="orders-approved-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">IV No.</th>
                                            <th class="cell">Station</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% ivouchersData.forEach(function(issue) { %>
                                            <% if (issue.Approval==1 ) { %>
                                                <tr>
                                                    <td class="cell">
                                                        IV/<%= issue.IVNo %>/<%= issue.IVYear %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.Receiver %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.SNo %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.Scheme %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= new Date(issue.DateOfReceival).toISOString().slice(0, 10) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (issue.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (issue.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval!=0 ) { %>
                                                            <%=issue.ApprovedBy %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval!=0 ) { %>
                                                            <%= new Date(issue.ApprovalDate).toISOString().slice(0, 10)
                                                                + " " + new
                                                                Date(issue.ApprovalDate).toISOString().slice(11, 19) %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">

                                                        <div class="col-auto">
                                                            <button type="button" class="btn app-btn-secondary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#v<%=issue.ID%>">View</button>
                                                            <div class="modal fade" id="v<%=issue.ID%>" tabindex="-1"
                                                                aria-labelledby="v<%=issue.ID%>Label"
                                                                aria-hidden="true">
                                                                <div
                                                                    class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="viewRequewstLabel">
                                                                                Issued Items List
                                                                            </h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table  table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Item</th>
                                                                                        <th scope="col">Requested</th>
                                                                                        <th scope="col">Passed</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% Object.keys(ivItemlist).forEach(function(rID)
                                                                                        { %>
                                                                                        <% if (rID==issue.ID) { %>
                                                                                            <% Object.keys(ivItemlist[rID]).forEach(function(item)
                                                                                                { %>

                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <%= item %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= ivItemlist[rID][item].req
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= ivItemlist[rID][item].passed
                                                                                                            %>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <% }) %>
                                                                                                    <% } %>
                                                                                                        <% }) %>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <% if(auth==2){ %>
                                                                            <div class="modal-footer">

                                                                                <% if (issue.Approval !=1 &&
                                                                                    issue.Approval !=2) { %>
                                                                                    <form
                                                                                        action="/ivouchers/action/<%=issue.ID%>/<%=id%>"
                                                                                        method="post" name="ratings">
                                                                                        <!-- <input type="hidden" name="Id"
                                                                                value=""> -->
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Accept"
                                                                                            class="btn btn-success text-white">Approve</button>
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Decline"
                                                                                            class="btn btn-danger text-white"
                                                                                            data-bs-dismiss="modal">Decline</button>
                                                                                    </form>
                                                                                    <% } %>
                                                                            </div>
                                                                            <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->

                <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">IV No.</th>
                                            <th class="cell">Station</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% ivouchersData.forEach(function(issue) { %>
                                            <% if (issue.Approval==0 ) { %>
                                                <tr>
                                                    <td class="cell">
                                                        IV/<%= issue.IVNo %>/<%= issue.IVYear %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.Receiver %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.SNo %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.Scheme %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= new Date(issue.DateOfReceival).toISOString().slice(0, 10) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (issue.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (issue.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval!=0 ) { %>
                                                            <%=issue.ApprovedBy %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval!=0 ) { %>
                                                            <%= new Date(issue.ApprovalDate).toISOString().slice(0, 10)
                                                                + " " + new
                                                                Date(issue.ApprovalDate).toISOString().slice(11, 19) %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">

                                                        <div class="col-auto">
                                                            <button type="button" class="btn app-btn-secondary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#v<%=issue.ID%>">View</button>
                                                            <div class="modal fade" id="v<%=issue.ID%>" tabindex="-1"
                                                                aria-labelledby="v<%=issue.ID%>Label"
                                                                aria-hidden="true">
                                                                <div
                                                                    class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="viewRequewstLabel">
                                                                                Issued Items List
                                                                            </h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table  table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Item</th>
                                                                                        <th scope="col">Requested</th>
                                                                                        <th scope="col">Passed</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% Object.keys(ivItemlist).forEach(function(rID)
                                                                                        { %>
                                                                                        <% if (rID==issue.ID) { %>
                                                                                            <% Object.keys(ivItemlist[rID]).forEach(function(item)
                                                                                                { %>

                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <%= item %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= ivItemlist[rID][item].req
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= ivItemlist[rID][item].passed
                                                                                                            %>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <% }) %>
                                                                                                    <% } %>
                                                                                                        <% }) %>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <% if(auth==2){ %>
                                                                            <div class="modal-footer">

                                                                                <% if (issue.Approval !=1 &&
                                                                                    issue.Approval !=2) { %>
                                                                                    <form
                                                                                        action="/ivouchers/action/<%=issue.ID%>/<%=id%>"
                                                                                        method="post" name="ratings">
                                                                                        <!-- <input type="hidden" name="Id"
                                                                                value=""> -->
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Accept"
                                                                                            class="btn btn-success text-white">Approve</button>
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Decline"
                                                                                            class="btn btn-danger text-white"
                                                                                            data-bs-dismiss="modal">Decline</button>
                                                                                    </form>
                                                                                    <% } %>
                                                                            </div>
                                                                            <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }%>
                                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->
                <div class="tab-pane fade" id="orders-declined" role="tabpanel" aria-labelledby="orders-declined-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">IV No.</th>
                                            <th class="cell">Station</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% ivouchersData.forEach(function(issue) { %>
                                            <% if (issue.Approval==2 ) { %>
                                                <tr>
                                                    <td class="cell">
                                                        IV/<%= issue.IVNo %>/<%= issue.IVYear %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.Receiver %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.SNo %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= issue.Scheme %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= new Date(issue.DateOfReceival).toISOString().slice(0, 10) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (issue.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (issue.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval!=0 ) { %>
                                                            <%=issue.ApprovedBy %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (issue.Approval!=0 ) { %>
                                                            <%= new Date(issue.ApprovalDate).toISOString().slice(0, 10)
                                                                + " " + new
                                                                Date(issue.ApprovalDate).toISOString().slice(11, 19) %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">

                                                        <div class="col-auto">
                                                            <button type="button" class="btn app-btn-secondary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#v<%=issue.ID%>">View</button>
                                                            <div class="modal fade" id="v<%=issue.ID%>" tabindex="-1"
                                                                aria-labelledby="v<%=issue.ID%>Label"
                                                                aria-hidden="true">
                                                                <div
                                                                    class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="viewRequewstLabel">
                                                                                Issued Items List
                                                                            </h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table  table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Item</th>
                                                                                        <th scope="col">Requested</th>
                                                                                        <th scope="col">Passed</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% Object.keys(ivItemlist).forEach(function(rID)
                                                                                        { %>
                                                                                        <% if (rID==issue.ID) { %>
                                                                                            <% Object.keys(ivItemlist[rID]).forEach(function(item)
                                                                                                { %>

                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <%= item %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= ivItemlist[rID][item].req
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= ivItemlist[rID][item].passed
                                                                                                            %>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <% }) %>
                                                                                                    <% } %>
                                                                                                        <% }) %>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <% if(auth==2){ %>
                                                                            <div class="modal-footer">

                                                                                <% if (issue.Approval !=1 &&
                                                                                    issue.Approval !=2) { %>
                                                                                    <form
                                                                                        action="/ivouchers/action/<%=issue.ID%>/<%=id%>"
                                                                                        method="post" name="ratings">
                                                                                        <!-- <input type="hidden" name="Id"
                                                                                value=""> -->
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Accept"
                                                                                            class="btn btn-success text-white">Approve</button>
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Decline"
                                                                                            class="btn btn-danger text-white"
                                                                                            data-bs-dismiss="modal">Decline</button>
                                                                                    </form>
                                                                                    <% } %>
                                                                            </div>
                                                                            <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->
            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">

    </footer>
    <!--//app-footer-->
</div>