<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl d-grid gap-5">

            <div class="col-auto">
                <h1 class="app-page-title mb-0">New Issued-Voucher</h1>
            </div>
            <div class="col-auto">
                <form action="/ivouchers/new" method="POST">
                    <div class="d-grid gap-5">
                        <div class="row">
                            <label for="voucher-id" class="col-form-label">Voucher ID:</label>
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" name="IV" value="IV" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="req-receiverid" name="ivid" required>
                                </div>
                                <div class="col-sm-2">
                                    <select id="iv-year" class="form-select" name="ivyear" required>
                                        <option value="<%=new Date().getFullYear() - 1%>">
                                            <!-- Years drop-down list -->
                                            <%=new Date().getFullYear() - 1%>
                                        </option>
                                        <option value="<%=new Date().getFullYear()%>" selected>
                                            <!-- Years drop-down list -->
                                            <%=new Date().getFullYear()%>
                                        </option>
                                        <option value="<%=new Date().getFullYear() + 1%>">
                                            <!-- Years drop-down list -->
                                            <%=new Date().getFullYear() + 1%>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="station-id" class="col-form-label">Supplier ID:</label>
                                
                                    <select id="station-id" name="stationid" class="form-select" required>
                                        <% stationRows.forEach(function(station) { %>
                                            <option value="<%= station.ID %>">
                                                <%= station.Name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                
                            </div>
                            <div class="col-sm-6 ">
                                <label for="scheme-id" class="col-form-label">Scheme:</label>
                                
                                    <select id="scheme-id" name="schemeid" class="form-select" required>
                                        <% schemeRows.forEach(function(scheme) { %>
                                            <option value="<%= scheme.ID %>">
                                                <%= scheme.Name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="date-of-rcv" class="col-form-label">Date of Receival:</label>
                                <input class="form-control d-inline" id="date-of-rcv" type="date" name="dor" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="v-s-no" class="col-form-label">Serial No.:</label>
                                <input class="form-control d-inline" id="v-s-no" type="number" min="0" step="1"
                                    name="sno" placeholder="S. No." required>
                            </div>
                        </div>
                        <div id="message-validate" class="d-none">
                            <div class="alert alert-danger" role="alert">
                                <strong>
                                    Please add items to the list before submitting.
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="scheme-id" class="col-form-label">Add Item:</label>
                                <div class="row">
                                    <table id='added-items-table' class="table app-table-hover mb-0 text-center d-none"
                                        style="font-size:0.8em;">
                                        <thead>
                                            <tr>
                                                <th class="cell">Item Name</th>
                                                <th class="cell">Required</th>
                                                <th class="cell">Passed</th>
                                            </tr>
                                        </thead>
                                        <tbody id="added-items-tbody">
                                        </tbody>
                                    </table>
                                    <!-- <ul class="added-items-ul">


                                    </ul> -->
                                    <div class="col-sm-2 w-25">

                                        <select id="item-name-drop" name="itemid" class="form-select" required>
                                            <% itemRows.forEach(function(item) { %>
                                                <option value="<%= item.ID %>">
                                                    <%= item.Name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control w-75 ms-4" id="item-qty-required" type="number"
                                            min="0" step="1" name="ReqQty" placeholder="Required" required>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control w-75 " id="item-qty-passed" type="number"
                                            min="0" step="1" name="PassedQty" placeholder="Passed" required >
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" id="req-item-add"
                                            class="btn app-btn-secondary ">Add</button>
                                        <input type="text" id="added-JSON" name="addedJSON" class="d-none me-3" s>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">

                            <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
                            <input type="submit" id="submit-btn-ov" class="btn btn-primary text-white">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">

    </footer>
    <!--//app-footer-->

</div>



<script>
    addedItemsList = {};
    const reqAddBtn = document.getElementById('req-item-add');
    const submitBtn = document.getElementById('submit-btn-ov');
    reqAddBtn.addEventListener('click', (e) => {
        let itemName = document.getElementById('item-name-drop').options[document.getElementById('item-name-drop').selectedIndex].text;
        let itemReqQty = document.getElementById('item-qty-required').value > 0 && document.getElementById('item-qty-required').value;
        let itemPassedQty = document.getElementById('item-qty-passed').value > 0 && document.getElementById('item-qty-passed').value;
        if (itemReqQty && itemPassedQty) {
            document.querySelector('#added-items-tbody').innerHTML += `<tr>
                                                <td class="cell">${itemName}</td>
                                                <td class="cell">${itemReqQty}</td>
                                                <td class="cell">${itemPassedQty}</td>
                                                </tr>`;
            if (itemName in addedItemsList) {
                alert("Item already added.");
                // addedItemsList[itemName]['reqQty'] += itemReqQty;
                // addedItemsList[itemName]['passedQty'] += itemPassedQty;
            } else {
                addedItemsList[itemName] = {
                    'reqQty': itemReqQty,
                    'passedQty': itemPassedQty
                };
            }
        }
        document.querySelector('#added-JSON').value = JSON.stringify(addedItemsList); //passing this to the backend with bodyparser and a d-none input.
        if (Object.keys(addedItemsList).length < 1) {

            document.querySelector('#message-validate').classList.remove('d-none');
            document.querySelector('#added-items-table').classList.add('d-none');
        }
        else {
            document.querySelector('#message-validate').classList.add('d-none');
            document.querySelector('#added-items-table').classList.remove('d-none');
        }
    });
    submitBtn.addEventListener('click', (e) => {
        if (Object.keys(addedItemsList).length < 1) {
            e.preventDefault();
            document.querySelector('#message-validate').classList.remove('d-none');
            document.querySelector('#added-items-table').classList.add('d-none');
        }
        else {
            document.querySelector('#message-validate').classList.add('d-none');
            document.querySelector('#added-items-table').classList.remove('d-none');
        }
    });
</script>