<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl d-grid gap-5">

            <div class="col-auto">
                <h1 class="app-page-title mb-0">New Received-Voucher</h1>
            </div>
            <div class="col-auto">
                <form action="/rvouchers/new" method="POST">
                    <div class="d-grid gap-5">
                        <div class="row">
                            <label for="voucher-id" class="col-form-label">Voucher ID:</label>
                            <div class="row">
                                <div class="col-sm-1">
                                    <input type="text" class="form-control text-center" name="RV" value="RV" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="req-supplierid" name="rvid" required>
                                </div>
                                <div class="col-sm-2">
                                    <select id="rv-year" class="form-select" name="rvyear" required>
                                        <option value="<%=new Date().getFullYear() - 1%>">
                                            <!-- Years drop-down list -->
                                            <%=new Date().getFullYear() - 1%>
                                        </option>
                                        <option value="<%=new Date().getFullYear()%>" selected>
                                            <!-- Years drop-down list -->
                                            <%=new Date().getFullYear()%>
                                        </option>
                                        <option value="<%=new Date().getFullYear() + 1%>">
                                            <!-- Years drop-down list -->
                                            <%=new Date().getFullYear() + 1%>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="station-id" class="col-form-label">Supplier:</label>
                                <div class="row">
                                    <input class="form-control d-inline" id="supplier" type="text" name="stationid"
                                        required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label for="scheme-id" class="col-form-label">Scheme:</label>

                                <select id="scheme-id" name="schemeid" class="form-select" required>
                                    <% schemeRows.forEach(function(scheme) { %>
                                        <option value="<%= scheme.ID %>">
                                            <%= scheme.Name %>
                                        </option>
                                        <% }); %>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="date-of-rcv" class="col-form-label">Date of Receival:</label>
                                <input class="form-control d-inline" id="date-of-rcv" type="date" name="dor" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="v-s-no" class="col-form-label">Serial No.:</label>
                                <input class="form-control d-inline" id="v-s-no" type="number" min="0" step="1"
                                    name="sno" placeholder="S. No." required>
                            </div>
                        </div>
                        <div id="message-validate" class="d-none">
                            <div class="alert alert-danger" role="alert">
                                <strong>
                                    Please add items to the list before submitting.
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">

                                <div class="row">
                                    <table id='added-items-table' class="table app-table-hover mb-0 text-center"
                                        style="font-size:0.8em;">
                                        <thead>
                                            <tr>
                                                <th class="cell">Item Name</th>
                                                <th class="cell">Quantity</th>
                                                <th class="cell">Reference No.</th>
                                                <th class="cell">Reference Date</th>
                                                <th class="cell">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="added-items-tbody">
                                        </tbody>
                                    </table>
                                    <!-- <ul class="added-items-ul">

                                    </ul> -->
                                    <label for="scheme-id" class="col-form-label">Add Item:</label>
                                    <div class="col-sm-4">
                                        <select id="item-name-drop" name="itemid" class="form-select" required>
                                            <% itemRows.forEach(function(item) { %>
                                                <option value="<%= item.ID %>">
                                                    <%= item.Name %>
                                                </option>
                                                <% }); %>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control d-inline" id="item-qty-required" type="number"
                                            min="0" step="1" name="ReqQty" placeholder="Qty. received" required>
                                    </div>
                                    <div class="col-sm-4 d-flex">
                                        <input class="form-control w-50" id="item-ref-no" type="number" min="0" step="1"
                                            name="RefNo" placeholder="Ref. No." required>
                                        <input class="form-control w-50" type="date" id="item-ref-date" name="RefDate"
                                            value="">
                                    </div>

                                    <div class="col-sm-2">
                                        <button type="button" id="req-item-add"
                                            class="btn app-btn-secondary">Add</button>
                                        <input type="text" id="added-JSON" name="addedJSON" class="d-none">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
                            <input type="submit" id="submit-btn-ov" class="text-white btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">
        <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                    style="color: #fb866a;"></i> by Students of<a class="app-link"
                    href="https://www.psgtech.edu/hme.php?var=AMC" target="_blank"> PSG TECH</a> for Coimbatore City
                Police Commissioner Office</small>

        </div>
    </footer>
    <!--//app-footer-->

</div>



<script>
    function checkItem(thi) {

        console.log(thi);
        let id = thi.id.split("-")[1];


        let itemReqQty = document.getElementById(`req-${id}`).value;
        let itemRefNo = document.getElementById(`ref-${id}`).value;
        let itemRefDate = document.getElementById(`date-${id}`).value;

        if (itemReqQty < 0) {
            alert('Reqested quantity cannot be negative');
            document.getElementById(`req-${id}`).value = addedItemsList[id].reqQty;

            return;
        }

        delete addedItemsList[id];

        addedItemsList[id] = {
            'reqQty': itemReqQty,
            'refNo': itemRefNo,
            'refDate': itemRefDate
        };
    }
    function delRow(id) {
        var row = document.getElementById(id);
        row.parentNode.removeChild(row);
        delete addedItemsList[id];
    }
    addedItemsList = {};
    const reqAddBtn = document.getElementById('req-item-add');
    const submitBtn = document.getElementById('submit-btn-ov');
    reqAddBtn.addEventListener('click', (e) => {
        let itemName = document.getElementById('item-name-drop').options[document.getElementById('item-name-drop').selectedIndex].text;
        let itemReqQty = document.getElementById('item-qty-required').value;
        let itemRefNo = document.getElementById('item-ref-no').value;
        let itemRefDate = document.getElementById('item-ref-date').value;

        if (itemName && itemReqQty && itemRefNo && itemRefDate) {

            if (itemName in addedItemsList) {
                alert("Item already added.");
                // addedItemsList[itemName]['reqQty'] += itemReqQty;
                // addedItemsList[itemName]['passedQty'] += itemPassedQty;
            } else {
                document.querySelector('#added-items-tbody').innerHTML += `<tr id='${itemName}'>
                                                

                                                <td class="cell">${itemName}</td>
                                                    
                                                    <td class="cell">
                                                        <input class="form-control w-75 ms-4" id="req-${itemName}" type="number"
                                                            min="0" step="1" name="ReqQty" onblur="checkItem(this)"
                                                            value="${itemReqQty}" placeholder="Required"
                                                            required>
                                                    </td>
                                                    <td class="cell">
                                                        <input class="form-control w-75 ms-4" id="ref-${itemName}" type="number"
                                                            min="0" step="1" name="ReqQty" onblur="checkItem(this)"
                                                            value="${itemRefNo}" placeholder="Required"
                                                            required>
                                                    </td>
                                                    <td class="cell">
                                                        <input class="form-control w-50" type="date" id="date-${itemName}" name="RefDate"
                                            value="${itemRefDate}" " onblur="checkItem(this)">
                                                    </td>
                                                    
                                                    <td class="cell">
                                                        <button type="button" class="btn app-btn-secondary"
                                                            onclick="delRow('${itemName}')">Delete</button>
                                                    </td>
                                                </tr>`;
                addedItemsList[itemName] = {
                    'reqQty': itemReqQty,
                    'refNo': itemRefNo,
                    'refDate': itemRefDate
                };
            }
        } else {
            alert("Please fill all the fields.");
        }
        document.querySelector('#added-JSON').value = JSON.stringify(addedItemsList); //passing this to the backend with bodyparser and a d-none input.
        if (Object.keys(addedItemsList).length >= 1) {


            document.querySelector('#message-validate').classList.add('d-none');
            document.querySelector('#added-items-table').classList.remove('d-none');
        }
    });
    submitBtn.addEventListener('click', (e) => {
        if (Object.keys(addedItemsList).length < 1) {
            e.preventDefault();
            document.querySelector('#message-validate').classList.remove('d-none');
            // document.querySelector('#added-items-table').classList.add('d-none');
        }
        else {
            document.querySelector('#message-validate').classList.add('d-none');
            document.querySelector('#added-items-table').classList.remove('d-none');
        }
    });
</script>