<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="col-auto mt-100">
                <h1 class="app-page-title mb-100">Report</h1>
            </div>
            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div id="tbl_print" class="table-responsive">
                                <table id="itemsTable" class="table  app-table-hover mb-0" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% rvouchersData.forEach(function(rcv) { %>
                                            <tr>
                                                <td>
                                                    <div class="row mt-4">
                                                        <div class="col ms-4"><span>RV/<%= rcv.RVNo %>/<%= rcv.RVYear %>
                                                            </span></div>
                                                        <div class="col text-end me-4"><span>Action Date :
                                                                <%= new Date(rcv.ApprovalDate).toISOString().slice(0,
                                                                    10) + " " + new
                                                                    Date(rcv.ApprovalDate).toISOString().slice(11, 19)
                                                                    %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="row ">
                                                        <div class="col ms-4"><span>Scheme : <%= rcv.Scheme %></span>
                                                        </div>
                                                        <div class="col text-end me-4"><span>Supplier : <%= rcv.Supplier
                                                                    %></span>
                                                        </div>
                                                    </div>
                                                    <div class="tab-content " id="orders-table-tab-content ">
                                                        <div class="tab-pane fade show active " id="orders-all"
                                                            role="tabpanel" aria-labelledby="orders-all-tab">
                                                            <div
                                                                class="app-card app-card-orders-table shadow-none mb-2 mt-2 w-75 mx-auto">
                                                                <div class="app-card-body">
                                                                    <div id="tbl_print" class="table-responsive">
                                                                        <table class="table  app-table-hover mb-0 "
                                                                            cellspacing="0" width="100%">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="cell">Item</th>
                                                                                    <!-- <th class="cell">Category</th> -->
                                                                                    <th class="cell">Ref No/Ref Date
                                                                                    </th>
                                                                                    <th class="cell">Qty</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <% Object.keys(rvItemlist).forEach(function(rID)
                                                                                    { %>
                                                                                    <% if (rID==rcv.ID) { %>
                                                                                        <% Object.keys(rvItemlist[rID]).forEach(function(item)
                                                                                            { %>
                                                                                            <tr>
                                                                                                <td class="cell">
                                                                                                    <%= item %>
                                                                                                </td>
                                                                                                <!-- <td class="cell">
                                                                                                    Stationary</td> -->
                                                                                                <td class="cell">
                                                                                                    <%= rvItemlist[rID][item].refno
                                                                                                        %>/<%=
                                                                                                            rvItemlist[rID][item].refdate
                                                                                                            %>
                                                                                                </td>
                                                                                                <td class="cell">
                                                                                                    <%= rvItemlist[rID][item].req
                                                                                                        %>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <% }) %>
                                                                                                <% } %>
                                                                                                    <% }) %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                                <!-- <table id="dtBasicExample" class="table table-striped table-bordered table-sm"
                                    cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-sm">Name

                                            </th>
                                            <th class="th-sm">Position

                                            </th>
                                            <th class="th-sm">Office

                                            </th>
                                            <th class="th-sm">Age

                                            </th>
                                            <th class="th-sm">Start date

                                            </th>
                                            <th class="th-sm">Salary

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>

                                        <tr>
                                            <td>Michael Bruce</td>
                                            <td>Javascript Developer</td>
                                            <td>Singapore</td>
                                            <td>29</td>
                                            <td>2011/06/27</td>
                                            <td>$183,000</td>
                                        </tr>
                                        <tr>
                                            <td>Donna Snider</td>
                                            <td>Customer Support</td>
                                            <td>New York</td>
                                            <td>27</td>
                                            <td>2011/01/25</td>
                                            <td>$112,000</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Name
                                            </th>
                                            <th>Position
                                            </th>
                                            <th>Office
                                            </th>
                                            <th>Age
                                            </th>
                                            <th>Start date
                                            </th>
                                            <th>Salary
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table> -->
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <!-- <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->
            </div>


        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">

    </footer>
    <!--//app-footer-->

</div>