<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Requests</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="col-auto">
                                <form class="table-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-orders" name="searchorders"
                                            class="form-control search-orders" placeholder="Search">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-secondary">Search</button>
                                    </div>
                                </form>

                            </div>
                            <!--//col-->
                            <div class="col-auto">

                                <select class="form-select w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">This week</option>
                                    <option value="option-3">This month</option>
                                    <option value="option-4">Last 3 months</option>

                                </select>
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#newEntryModal">New Request</button>
                                <div class="modal fade" id="newEntryModal" tabindex="-1"
                                    aria-labelledby="newEntryModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="newEntryModalLabel">Enter data for
                                                    new request</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/requests" method="POST">
                                                    <div class="mb-3">
                                                        <label for="recipient-name"
                                                            class="col-form-label">RequestID:</label>
                                                        <input type="text" class="form-control" id="req-stationid"
                                                            name="reqid">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="recipient-name"
                                                            class="col-form-label">StationID:</label>
                                                        <input type="text" class="form-control" id="req-stationid"
                                                            name="reqstationid">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="message-text" class="col-form-label">Add
                                                            items:</label><br>
                                                        <ul class="added-items-ul">

                                                        </ul>
                                                        <select id="item-name-drop">
                                                            <% itemRows.forEach(function(item) { %>
                                                                <option value="<%= item.ID %>">
                                                                    <%= item.Name %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                        <input class="form-control w-75 d-inline" id="item-quantity">
                                                        <button type="button" id="req-item-add"
                                                            class="btn app-btn-secondary">Add</button>
                                                        <input type="text" id="added-JSON" name="addedJSON"
                                                            class="d-none">
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-primary">
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-auto">
                                <a class="btn app-btn-secondary" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path fill-rule="evenodd"
                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg>
                                    Download CSV
                                </a>
                            </div>
                        </div>
                        <!--//row-->
                    </div>
                    <!--//table-utilities-->
                </div>
                <!--//col-auto-->
            </div>
            <!--//row-->


            <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab"
                    href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-approved-tab" data-bs-toggle="tab"
                    href="#orders-approved" role="tab" aria-controls="orders-approved"
                    aria-selected="false">Approved</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab"
                    href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Pending</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-declined-tab" data-bs-toggle="tab"
                    href="#orders-declined" role="tab" aria-controls="orders-declined"
                    aria-selected="false">Declined</a>
            </nav>


            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">ID</th>
                                            <th class="cell">StationID</th>
                                            <th class="cell">Items</th>
                                            <th class="cell">Approval</th>
                                            <!-- <th class="cell">ApprovedBy</th> -->
                                            <!-- <th class="cell"></th> -->
                                            <!-- <th class="cell"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% requestsData.forEach(function(request) { %>
                                            <tr>
                                                <td class="cell">
                                                    <%= request.ID %>
                                                </td>
                                                <td class="cell">
                                                    <%= request.StationID %>
                                                </td>
                                                <td class="cell">

                                                    <div class="col-auto">
                                                        <button type="button" class="btn app-btn-secondary"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#v<%=request.ID%>">View</button>
                                                        <div class="modal fade" id="v<%=request.ID%>" tabindex="-1"
                                                            aria-labelledby="v<%=request.ID%>Label" aria-hidden="true">
                                                            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="viewRequewstLabel">
                                                                            Requested Items List
                                                                        </h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <table class="table  table-hover">
                                                                            <thead>
                                                                                <tr>

                                                                                    <th scope="col">Item</th>
                                                                                    <th scope="col">Quantity</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <% Object.keys(reqItemlist).forEach(function(rID)
                                                                                    { %>
                                                                                    <% if (rID==request.ID) { %>
                                                                                        <% Object.keys(reqItemlist[rID]).forEach(function(item)
                                                                                            { %>
                                                                                            <tr>

                                                                                                <td>
                                                                                                    <%= item %>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <%= reqItemlist[rID][item]
                                                                                                        %>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <% }) %>
                                                                                                <% } %>
                                                                                                    <% }) %>


                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="cell">
                                                    <% if (request.Approval==0 ) { %>
                                                        <span class="badge badge bg-warning">Pending</span>
                                                        <% } else if (request.Approval==1 ) { %>
                                                            <span class="badge badge bg-success">Approved</span>
                                                            <% } else if (request.Approval==2 ) { %>
                                                                <span class="badge badge bg-danger">Declined</span>
                                                                <% } %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                                <!-- <tr>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                        </tr> -->
                                    </tbody>


                                    <!-- <tbody>
                                        <tr>
                                            <td class="cell">#15346</td>
                                            <td class="cell"><span class="truncate">Lorem ipsum dolor sit amet
                                                    eget
                                                    volutpat erat</span></td>
                                            <td class="cell">John Sanders</td>
                                            <td class="cell"><span>17 Oct</span><span class="note">2:16
                                                    PM</span>
                                            </td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$259.35</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">#15345</td>
                                            <td class="cell"><span class="truncate">Consectetur adipiscing
                                                    elit</span></td>
                                            <td class="cell">Dylan Ambrose</td>
                                            <td class="cell"><span class="cell-data">16 Oct</span><span
                                                    class="note">03:16 AM</span></td>
                                            <td class="cell"><span class="badge bg-warning">Pending</span></td>
                                            <td class="cell">$96.20</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">#15344</td>
                                            <td class="cell"><span class="truncate">Pellentesque diam
                                                    imperdiet</span></td>
                                            <td class="cell">Teresa Holland</td>
                                            <td class="cell"><span class="cell-data">16 Oct</span><span
                                                    class="note">01:16 AM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$123.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15343</td>
                                            <td class="cell"><span class="truncate">Vestibulum a accumsan lectus
                                                    sed
                                                    mollis ipsum</span></td>
                                            <td class="cell">Jayden Massey</td>
                                            <td class="cell"><span class="cell-data">15 Oct</span><span
                                                    class="note">8:07 PM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$199.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15342</td>
                                            <td class="cell"><span class="truncate">Justo feugiat neque</span>
                                            </td>
                                            <td class="cell">Reina Brooks</td>
                                            <td class="cell"><span class="cell-data">12 Oct</span><span
                                                    class="note">04:23 PM</span></td>
                                            <td class="cell"><span class="badge bg-danger">Cancelled</span></td>
                                            <td class="cell">$59.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15341</td>
                                            <td class="cell"><span class="truncate">Morbi vulputate lacinia
                                                    neque et
                                                    sollicitudin</span></td>
                                            <td class="cell">Raymond Atkins</td>
                                            <td class="cell"><span class="cell-data">11 Oct</span><span
                                                    class="note">11:18 AM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$678.26</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                    </tbody> -->
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->

                <div class="tab-pane fade" id="orders-approved" role="tabpanel" aria-labelledby="orders-approved-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">ID</th>
                                            <th class="cell">StationID</th>
                                            <th class="cell">Items</th>
                                            <th class="cell">Approval</th>
                                            <!-- <th class="cell">ApprovedBy</th> -->
                                            <!-- <th class="cell"></th> -->
                                            <!-- <th class="cell"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% requestsData.forEach(function(request) { %>
                                            <% if (request.Approval==1) { %>
                                                <tr>
                                                    <td class="cell">
                                                        <%= request.ID %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= request.StationID %>
                                                    </td>
                                                    <td class="cell">
                                                        <% Object.keys(reqItemlist).forEach(function(rID) { %>
                                                            <% if (rID==request.ID) { %>
                                                                <% Object.keys(reqItemlist[rID]).forEach(function(item)
                                                                    { %>
                                                                    <%= item %> x<%= reqItemlist[rID][item] %><br>
                                                                            <% }) %>
                                                                                <% } %>
                                                                                    <% }) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (request.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (request.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (request.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                                        <!-- <tr>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                        </tr> -->
                                    </tbody>


                                    <!-- <tbody>
                                        <tr>
                                            <td class="cell">#15346</td>
                                            <td class="cell"><span class="truncate">Lorem ipsum dolor sit amet
                                                    eget
                                                    volutpat erat</span></td>
                                            <td class="cell">John Sanders</td>
                                            <td class="cell"><span>17 Oct</span><span class="note">2:16
                                                    PM</span>
                                            </td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$259.35</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">#15345</td>
                                            <td class="cell"><span class="truncate">Consectetur adipiscing
                                                    elit</span></td>
                                            <td class="cell">Dylan Ambrose</td>
                                            <td class="cell"><span class="cell-data">16 Oct</span><span
                                                    class="note">03:16 AM</span></td>
                                            <td class="cell"><span class="badge bg-warning">Pending</span></td>
                                            <td class="cell">$96.20</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">#15344</td>
                                            <td class="cell"><span class="truncate">Pellentesque diam
                                                    imperdiet</span></td>
                                            <td class="cell">Teresa Holland</td>
                                            <td class="cell"><span class="cell-data">16 Oct</span><span
                                                    class="note">01:16 AM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$123.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15343</td>
                                            <td class="cell"><span class="truncate">Vestibulum a accumsan lectus
                                                    sed
                                                    mollis ipsum</span></td>
                                            <td class="cell">Jayden Massey</td>
                                            <td class="cell"><span class="cell-data">15 Oct</span><span
                                                    class="note">8:07 PM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$199.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15342</td>
                                            <td class="cell"><span class="truncate">Justo feugiat neque</span>
                                            </td>
                                            <td class="cell">Reina Brooks</td>
                                            <td class="cell"><span class="cell-data">12 Oct</span><span
                                                    class="note">04:23 PM</span></td>
                                            <td class="cell"><span class="badge bg-danger">Cancelled</span></td>
                                            <td class="cell">$59.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15341</td>
                                            <td class="cell"><span class="truncate">Morbi vulputate lacinia
                                                    neque et
                                                    sollicitudin</span></td>
                                            <td class="cell">Raymond Atkins</td>
                                            <td class="cell"><span class="cell-data">11 Oct</span><span
                                                    class="note">11:18 AM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$678.26</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                    </tbody> -->
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->

                <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">ID</th>
                                            <th class="cell">StationID</th>
                                            <th class="cell">Items</th>
                                            <th class="cell">Approval</th>
                                            <!-- <th class="cell">ApprovedBy</th> -->
                                            <!-- <th class="cell"></th> -->
                                            <!-- <th class="cell"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% requestsData.forEach(function(request) { %>
                                            <% if (request.Approval==0) { %>
                                                <tr>
                                                    <td class="cell">
                                                        <%= request.ID %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= request.StationID %>
                                                    </td>
                                                    <td class="cell">
                                                        <% Object.keys(reqItemlist).forEach(function(rID) { %>
                                                            <% if (rID==request.ID) { %>
                                                                <% Object.keys(reqItemlist[rID]).forEach(function(item)
                                                                    { %>
                                                                    <%= item %> x<%= reqItemlist[rID][item] %><br>
                                                                            <% }) %>
                                                                                <% } %>
                                                                                    <% }) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (request.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (request.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (request.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                                        <!-- <tr>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                        </tr> -->
                                    </tbody>


                                    <!-- <tbody>
                                        <tr>
                                            <td class="cell">#15346</td>
                                            <td class="cell"><span class="truncate">Lorem ipsum dolor sit amet
                                                    eget
                                                    volutpat erat</span></td>
                                            <td class="cell">John Sanders</td>
                                            <td class="cell"><span>17 Oct</span><span class="note">2:16
                                                    PM</span>
                                            </td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$259.35</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">#15345</td>
                                            <td class="cell"><span class="truncate">Consectetur adipiscing
                                                    elit</span></td>
                                            <td class="cell">Dylan Ambrose</td>
                                            <td class="cell"><span class="cell-data">16 Oct</span><span
                                                    class="note">03:16 AM</span></td>
                                            <td class="cell"><span class="badge bg-warning">Pending</span></td>
                                            <td class="cell">$96.20</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">#15344</td>
                                            <td class="cell"><span class="truncate">Pellentesque diam
                                                    imperdiet</span></td>
                                            <td class="cell">Teresa Holland</td>
                                            <td class="cell"><span class="cell-data">16 Oct</span><span
                                                    class="note">01:16 AM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$123.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15343</td>
                                            <td class="cell"><span class="truncate">Vestibulum a accumsan lectus
                                                    sed
                                                    mollis ipsum</span></td>
                                            <td class="cell">Jayden Massey</td>
                                            <td class="cell"><span class="cell-data">15 Oct</span><span
                                                    class="note">8:07 PM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$199.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15342</td>
                                            <td class="cell"><span class="truncate">Justo feugiat neque</span>
                                            </td>
                                            <td class="cell">Reina Brooks</td>
                                            <td class="cell"><span class="cell-data">12 Oct</span><span
                                                    class="note">04:23 PM</span></td>
                                            <td class="cell"><span class="badge bg-danger">Cancelled</span></td>
                                            <td class="cell">$59.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15341</td>
                                            <td class="cell"><span class="truncate">Morbi vulputate lacinia
                                                    neque et
                                                    sollicitudin</span></td>
                                            <td class="cell">Raymond Atkins</td>
                                            <td class="cell"><span class="cell-data">11 Oct</span><span
                                                    class="note">11:18 AM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$678.26</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                    </tbody> -->
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->
                <div class="tab-pane fade" id="orders-declined" role="tabpanel" aria-labelledby="orders-declined-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">ID</th>
                                            <th class="cell">StationID</th>
                                            <th class="cell">Items</th>
                                            <th class="cell">Approval</th>
                                            <!-- <th class="cell">ApprovedBy</th> -->
                                            <!-- <th class="cell"></th> -->
                                            <!-- <th class="cell"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% requestsData.forEach(function(request) { %>
                                            <% if (request.Approval==2) { %>
                                                <tr>
                                                    <td class="cell">
                                                        <%= request.ID %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= request.StationID %>
                                                    </td>
                                                    <td class="cell">
                                                        <% Object.keys(reqItemlist).forEach(function(rID) { %>
                                                            <% if (rID==request.ID) { %>
                                                                <% Object.keys(reqItemlist[rID]).forEach(function(item)
                                                                    { %>
                                                                    <%= item %> x<%= reqItemlist[rID][item] %><br>
                                                                            <% }) %>
                                                                                <% } %>
                                                                                    <% }) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (request.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (request.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (request.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                                        <!-- <tr>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                            <td class="cell"></td>
                                        </tr> -->
                                    </tbody>


                                    <!-- <tbody>
                                        <tr>
                                            <td class="cell">#15346</td>
                                            <td class="cell"><span class="truncate">Lorem ipsum dolor sit amet
                                                    eget
                                                    volutpat erat</span></td>
                                            <td class="cell">John Sanders</td>
                                            <td class="cell"><span>17 Oct</span><span class="note">2:16
                                                    PM</span>
                                            </td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$259.35</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">#15345</td>
                                            <td class="cell"><span class="truncate">Consectetur adipiscing
                                                    elit</span></td>
                                            <td class="cell">Dylan Ambrose</td>
                                            <td class="cell"><span class="cell-data">16 Oct</span><span
                                                    class="note">03:16 AM</span></td>
                                            <td class="cell"><span class="badge bg-warning">Pending</span></td>
                                            <td class="cell">$96.20</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cell">#15344</td>
                                            <td class="cell"><span class="truncate">Pellentesque diam
                                                    imperdiet</span></td>
                                            <td class="cell">Teresa Holland</td>
                                            <td class="cell"><span class="cell-data">16 Oct</span><span
                                                    class="note">01:16 AM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$123.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15343</td>
                                            <td class="cell"><span class="truncate">Vestibulum a accumsan lectus
                                                    sed
                                                    mollis ipsum</span></td>
                                            <td class="cell">Jayden Massey</td>
                                            <td class="cell"><span class="cell-data">15 Oct</span><span
                                                    class="note">8:07 PM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$199.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15342</td>
                                            <td class="cell"><span class="truncate">Justo feugiat neque</span>
                                            </td>
                                            <td class="cell">Reina Brooks</td>
                                            <td class="cell"><span class="cell-data">12 Oct</span><span
                                                    class="note">04:23 PM</span></td>
                                            <td class="cell"><span class="badge bg-danger">Cancelled</span></td>
                                            <td class="cell">$59.00</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="cell">#15341</td>
                                            <td class="cell"><span class="truncate">Morbi vulputate lacinia
                                                    neque et
                                                    sollicitudin</span></td>
                                            <td class="cell">Raymond Atkins</td>
                                            <td class="cell"><span class="cell-data">11 Oct</span><span
                                                    class="note">11:18 AM</span></td>
                                            <td class="cell"><span class="badge bg-success">Paid</span></td>
                                            <td class="cell">$678.26</td>
                                            <td class="cell"><a class="btn-sm app-btn-secondary"
                                                    href="#">View</a>
                                            </td>
                                        </tr>

                                    </tbody> -->
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->
            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">

    </footer>
    <!--//app-footer-->
</div>

<script>
    addedItemsList = {};
    const reqAddBtn = document.getElementById('req-item-add');
    reqAddBtn.addEventListener('click', (e) => {
        let itemName = document.getElementById('item-name-drop').options[document.getElementById('item-name-drop').selectedIndex].text;
        let itemQty = document.getElementById('item-quantity').value;
        document.querySelector('.added-items-ul').innerHTML += `<li>${itemName} x ${itemQty}</li>`;
        addedItemsList[itemName] = parseInt(itemQty);
        document.querySelector('#added-JSON').value = JSON.stringify(addedItemsList); //passing this to the backend with bodyparser and a d-none input.
    });
</script>