<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Received Vouchers</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <!-- <div class="col-auto">
                                <form class="table-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-orders" name="searchorders"
                                            class="form-control search-orders" placeholder="Search">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-secondary">Search</button>
                                    </div>
                                </form>

                            </div>
                            
                            <div class="col-auto">

                                <select class="form-select w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">This week</option>
                                    <option value="option-3">This month</option>
                                    <option value="option-4">Last 3 months</option>

                                </select>
                            </div> -->
                            <% if(auth==3){ %>
                                <div class="col-auto">
                                    <a href="rvouchers/new">

                                        <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#newEntryModal">New Received Voucher</button>
                                    </a>

                                </div>
                                <% } %>
                                    <!-- <div class="col-auto">
                                <a class="btn app-btn-secondary" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path fill-rule="evenodd"
                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg>
                                    Download CSV
                                </a>
                            </div> -->
                        </div>
                        <!--//row-->
                    </div>
                    <!--//table-utilities-->
                </div>
                <!--//col-auto-->
            </div>
            <!--//row-->



            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <form class="form-group">
                    <div class="d-flex flex-row-reverse justify-content-between align-items-center" id="filterBns">

                        <div class="d-flex  justify-content-center align-items-center">
                            <label for="searchField">Search:</label>
                            <input type="text" class="form-control" id="searchField" style="max-width: 250px;">
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table id="rvTable" class="table  app-table-hover mb-0" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="cell">RV No.</th>
                                            <th class="cell">Supplier</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell">List</th>
                                            <th class="cell">Option</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% rvouchersData.forEach(function(rcv) { %>
                                            <tr>
                                                <td class="cell">
                                                    RV/<%= rcv.RVNo %>/<%= rcv.RVYear %>
                                                </td>
                                                <td class="cell">
                                                    <%= rcv.Supplier %>
                                                </td>
                                                <td class="cell">
                                                    <%= rcv.SNo %>
                                                </td>
                                                <td class="cell">
                                                    <%= rcv.schemeName %>
                                                </td>
                                                <td class="cell">
                                                    <%= new Date(new Date(rcv.DateOfReceival).getTime() + 330 * 60 *
                                                        1000).toISOString().slice(0, 10) %>
                                                </td>
                                                <td class="cell">
                                                    <% if (rcv.Approval==0 ) { %>
                                                        <span class="badge badge bg-warning">Pending</span>
                                                        <% } else if (rcv.Approval==1 ) { %>
                                                            <span class="badge badge bg-success">Approved</span>
                                                            <% } else if (rcv.Approval==2 ) { %>
                                                                <span class="badge badge bg-danger">Declined</span>
                                                                <% } %>
                                                </td>
                                                <td class="cell">
                                                    <% if (rcv.Approval!=0 ) { %>
                                                        <%=rcv.userName %>
                                                            <% } else { %>
                                                                -
                                                                <% } %>
                                                </td>
                                                <td class="cell">
                                                    <% if (rcv.Approval!=0 ) { %>
                                                        <%= new Date(rcv.ApprovalDate).toISOString().slice(0, 10) %>
                                                            <% } else { %>
                                                                -
                                                                <% } %>
                                                </td>
                                                <td class="cell">
                                                    <table class="table  table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Item</th>
                                                                <th scope="col">Qty. Requested</th>
                                                                <th scope="col">Reference</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% Object.keys(rvItemlist).forEach(function(rID) { %>
                                                                <% if (rID==rcv.RVID) { %>
                                                                    <% Object.keys(rvItemlist[rID]).forEach(function(item)
                                                                        { %>

                                                                        <tr>
                                                                            <td>
                                                                                <%= item %>
                                                                            </td>
                                                                            <td>
                                                                                <%= rvItemlist[rID][item].req %>
                                                                            </td>
                                                                            <td>
                                                                                <%= rvItemlist[rID][item].refno %>/<%=
                                                                                        rvItemlist[rID][item].refdate %>
                                                                            </td>
                                                                        </tr>

                                                                        <% }) %>
                                                                            <% } %>
                                                                                <% }) %>
                                                        </tbody>
                                                    </table>


                                                </td>

                                                <td style="text-align: center;vertical-align: middle;">



                                                    <% if (rcv.Approval !=1 && rcv.Approval !=2) { %>

                                                        <form action="/rvouchers/action/<%=rcv.RVID%>/<%=id%>"
                                                            method="post" name="ratings" class="">



                                                            <div class="dropdown">
                                                                <button class="btn app-btn-secondary dropdown-toggle"
                                                                    type="button" id="dropdownMenuButton1"
                                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                                    Action
                                                                </button>
                                                                <ul class="dropdown-menu  text-center"
                                                                    aria-labelledby="dropdownMenuButton1">
                                                                    <% if(auth==2){ %>
                                                                        <li><button type="submit" name="action_type"
                                                                                value="Accept"
                                                                                class="btn btn-success text-white m-1">Approve</button>
                                                                        </li>
                                                                        <li><button type="submit" name="action_type"
                                                                                value="Decline"
                                                                                class="btn btn-danger text-white m-1"
                                                                                data-bs-dismiss="modal">Decline</button>
                                                                        </li>
                                                                        <% } %>
                                                                            <li><a href="/rvouchers/edit/<%=rcv.RVID%>">
                                                                                    <button type="button"
                                                                                        class="btn app-btn-secondary m-1">Edit</button>
                                                                                </a></li>
                                                                </ul>
                                                            </div>
                                                        </form>



                                                        <% } %>

                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <!-- <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                    <!--//app-pagination-->

                </div>

            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">
        <div class="container text-center py-3">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"
                    style="color: #fb866a;"></i> by Students of<a class="app-link"
                    href="https://www.psgtech.edu/hme.php?var=AMC" target="_blank"> PSG TECH</a> for Coimbatore City
                Police Commissioner Office</small>

        </div>
    </footer>
    <!--//app-footer-->
</div>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
    alertify.set('notifier', 'position', 'top-right');
    var status = '<%= status %>';
    console.log(status);
    if (status == 'Addsuccess') {
        alertify.success('Received Voucher Added Successfully!');
    } else if (status == 'Editsuccess') {
        alertify.success('Received Voucher Updated Successfully!');

    } else if (status == 'Deletesuccess') {
        alertify.success('Received Voucher Deleted Successfully!');

    } else if (status == 'Existerror') {
        alertify.warning('Received Voucher Already Exists!');
    }
    else if (status == 'Acceptsuccess') {
        alertify.warning('Received Voucher Accepted Successfully!');
    }
    else if (status == 'Rejectsuccess') {
        alertify.warning('Received Voucher Rejected Successfully!');
    }
</script>