<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Received Vouchers</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <!-- <div class="col-auto">
                                <form class="table-search-form row gx-1 align-items-center">
                                    <div class="col-auto">
                                        <input type="text" id="search-orders" name="searchorders"
                                            class="form-control search-orders" placeholder="Search">
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn app-btn-secondary">Search</button>
                                    </div>
                                </form>

                            </div>
                            
                            <div class="col-auto">

                                <select class="form-select w-auto">
                                    <option selected value="option-1">All</option>
                                    <option value="option-2">This week</option>
                                    <option value="option-3">This month</option>
                                    <option value="option-4">Last 3 months</option>

                                </select>
                            </div> -->
                            <% if(auth==3){ %>
                                <div class="col-auto">
                                    <a href="rvouchers/new">

                                        <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#newEntryModal">New Received Voucher</button>
                                    </a>

                                </div>
                                <% } %>
                                    <!-- <div class="col-auto">
                                <a class="btn app-btn-secondary" href="#">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-1"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                        <path fill-rule="evenodd"
                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                    </svg>
                                    Download CSV
                                </a>
                            </div> -->
                        </div>
                        <!--//row-->
                    </div>
                    <!--//table-utilities-->
                </div>
                <!--//col-auto-->
            </div>
            <!--//row-->


            <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab"
                    href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-approved-tab" data-bs-toggle="tab"
                    href="#orders-approved" role="tab" aria-controls="orders-approved"
                    aria-selected="false">Approved</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab"
                    href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Pending</a>
                <a class="flex-sm-fill text-sm-center nav-link" id="orders-declined-tab" data-bs-toggle="tab"
                    href="#orders-declined" role="tab" aria-controls="orders-declined"
                    aria-selected="false">Declined</a>
            </nav>


            <div class="tab-content" id="orders-table-tab-content">
                <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">RV No.</th>
                                            <th class="cell">Station</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% rvouchersData.forEach(function(rcv) { %>
                                            <tr>
                                                <td class="cell">
                                                    RV/<%= rcv.RVNo %>/<%= rcv.RVYear %>
                                                </td>
                                                <td class="cell">
                                                    <%= rcv.Supplier %>
                                                </td>
                                                <td class="cell">
                                                    <%= rcv.SNo %>
                                                </td>
                                                <td class="cell">
                                                    <%= rcv.Scheme %>
                                                </td>
                                                <td class="cell">
                                                    <%= new Date(rcv.DateOfReceival).toISOString().slice(0, 10) %>
                                                </td>
                                                <td class="cell">
                                                    <% if (rcv.Approval==0 ) { %>
                                                        <span class="badge badge bg-warning">Pending</span>
                                                        <% } else if (rcv.Approval==1 ) { %>
                                                            <span class="badge badge bg-success">Approved</span>
                                                            <% } else if (rcv.Approval==2 ) { %>
                                                                <span class="badge badge bg-danger">Declined</span>
                                                                <% } %>
                                                </td>
                                                <td class="cell">
                                                    <% if (rcv.Approval!=0 ) { %>
                                                        <%=rcv.ApprovedBy %>
                                                            <% } else { %>
                                                                -
                                                                <% } %>
                                                </td>
                                                <td class="cell">
                                                    <% if (rcv.Approval!=0 ) { %>
                                                        <%=rcv.ApprovalDate %>
                                                            <% } else { %>
                                                                -
                                                                <% } %>
                                                </td>
                                                <td class="cell">

                                                    <div class="col-auto">
                                                        <button type="button" class="btn app-btn-secondary"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#v<%=rcv.ID%>">View</button>
                                                        <div class="modal fade" id="v<%=rcv.ID%>" tabindex="-1"
                                                            aria-labelledby="v<%=rcv.ID%>Label" aria-hidden="true">
                                                            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="viewRequewstLabel">
                                                                            Received Items List
                                                                        </h5>
                                                                        <button type="button" class="btn-close"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <table class="table  table-hover">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th scope="col">Item</th>
                                                                                    <th scope="col">Qty. Requested</th>
                                                                                    <th scope="col">Reference</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <% Object.keys(rvItemlist).forEach(function(rID)
                                                                                    { %>
                                                                                    <% if (rID==rcv.ID) { %>
                                                                                        <% Object.keys(rvItemlist[rID]).forEach(function(item)
                                                                                            { %>

                                                                                            <tr>
                                                                                                <td>
                                                                                                    <%= item %>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <%= rvItemlist[rID][item].req
                                                                                                        %>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <%= rvItemlist[rID][item].refno
                                                                                                        %>/<%=
                                                                                                            rvItemlist[rID][item].refdate
                                                                                                            %>
                                                                                                </td>
                                                                                            </tr>

                                                                                            <% }) %>
                                                                                                <% } %>
                                                                                                    <% }) %>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <% if(auth==2){ %>
                                                                        <div class="modal-footer">

                                                                            <% if (request.Approval !=1 &&
                                                                                request.Approval !=2) { %>
                                                                                <form
                                                                                    action="/ivouchers/action/<%=request.ID%>"
                                                                                    method="post" name="ratings">
                                                                                    <!-- <input type="hidden" name="Id"
                                                                                value=""> -->
                                                                                    <button type="submit"
                                                                                        name="action_type"
                                                                                        value="Accept"
                                                                                        class="btn btn-success text-white">Approve</button>
                                                                                    <button type="submit"
                                                                                        name="action_type"
                                                                                        value="Decline"
                                                                                        class="btn btn-danger text-white"
                                                                                        data-bs-dismiss="modal">Decline</button>
                                                                                </form>
                                                                                <% } %>
                                                                        </div>
                                                                        <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <!-- <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->

                <div class="tab-pane fade" id="orders-approved" role="tabpanel" aria-labelledby="orders-approved-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">IV No.</th>
                                            <th class="cell">Station</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% rvouchersData.forEach(function(rcv) { %>
                                            <% if (rcv.Approval==1 ) { %>
                                                <tr>
                                                    <td class="cell">
                                                        RV/<%=rcv.RVNo %>/<%= rcv.RVYear %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.Receiver %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.SNo %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.Scheme %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= new Date(rcv.DateOfReceival).toISOString().slice(0, 10) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (rcv.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (rcv.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval!=0 ) { %>
                                                            <%=rcv.ApprovedBy %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval!=0 ) { %>
                                                            <%=rcv.ApprovalDate %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">

                                                        <div class="col-auto">
                                                            <button type="button" class="btn app-btn-secondary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#v<%=rcv.ID%>">View</button>
                                                            <div class="modal fade" id="v<%=rcv.ID%>" tabindex="-1"
                                                                aria-labelledby="v<%=rcv.ID%>Label" aria-hidden="true">
                                                                <div
                                                                    class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="viewRequewstLabel">
                                                                                Received Items List
                                                                            </h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table  table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Item</th>
                                                                                        <th scope="col">Requested</th>
                                                                                        <th scope="col">Passed</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% Object.keys(rvItemlist).forEach(function(rID)
                                                                                        { %>
                                                                                        <% if (rID==rcv.ID) { %>
                                                                                            <% Object.keys(rvItemlist[rID]).forEach(function(item)
                                                                                                { %>

                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <%= item %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= rvItemlist[rID][item].req
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= rvItemlist[rID][item].passed
                                                                                                            %>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <% }) %>
                                                                                                    <% } %>
                                                                                                        <% }) %>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <% if(auth==2){ %>
                                                                            <div class="modal-footer">

                                                                                <% if (request.Approval !=1 &&
                                                                                    request.Approval !=2) { %>
                                                                                    <form
                                                                                        action="/ivouchers/action/<%=request.ID%>"
                                                                                        method="post" name="ratings">
                                                                                        <!-- <input type="hidden" name="Id"
                                                                                value=""> -->
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Accept"
                                                                                            class="btn btn-success text-white">Approve</button>
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Decline"
                                                                                            class="btn btn-danger text-white"
                                                                                            data-bs-dismiss="modal">Decline</button>
                                                                                    </form>
                                                                                    <% } %>
                                                                            </div>
                                                                            <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->

                <div class="tab-pane fade" id="orders-pending" role="tabpanel" aria-labelledby="orders-pending-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">IV No.</th>
                                            <th class="cell">Station</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% rvouchersData.forEach(function(rcv) { %>
                                            <% if (rcv.Approval==0 ) { %>
                                                <tr>
                                                    <td class="cell">
                                                        RV/<%=rcv.RVNo %>/<%= rcv.RVYear %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.Receiver %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.SNo %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.Scheme %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= new Date(rcv.DateOfReceival).toISOString().slice(0, 10) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (rcv.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (rcv.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval!=0 ) { %>
                                                            <%=rcv.ApprovedBy %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval!=0 ) { %>
                                                            <%=rcv.ApprovalDate %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">

                                                        <div class="col-auto">
                                                            <button type="button" class="btn app-btn-secondary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#v<%=rcv.ID%>">View</button>
                                                            <div class="modal fade" id="v<%=rcv.ID%>" tabindex="-1"
                                                                aria-labelledby="v<%=rcv.ID%>Label" aria-hidden="true">
                                                                <div
                                                                    class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="viewRequewstLabel">
                                                                                Received Items List
                                                                            </h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table  table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Item</th>
                                                                                        <th scope="col">Requested</th>
                                                                                        <th scope="col">Passed</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% Object.keys(rvItemlist).forEach(function(rID)
                                                                                        { %>
                                                                                        <% if (rID==rcv.ID) { %>
                                                                                            <% Object.keys(rvItemlist[rID]).forEach(function(item)
                                                                                                { %>

                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <%= item %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= rvItemlist[rID][item].req
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= rvItemlist[rID][item].passed
                                                                                                            %>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <% }) %>
                                                                                                    <% } %>
                                                                                                        <% }) %>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <% if(auth==2){ %>
                                                                            <div class="modal-footer">

                                                                                <% if (request.Approval !=1 &&
                                                                                    request.Approval !=2) { %>
                                                                                    <form
                                                                                        action="/ivouchers/action/<%=request.ID%>"
                                                                                        method="post" name="ratings">
                                                                                        <!-- <input type="hidden" name="Id"
                                                                                value=""> -->
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Accept"
                                                                                            class="btn btn-success text-white">Approve</button>
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Decline"
                                                                                            class="btn btn-danger text-white"
                                                                                            data-bs-dismiss="modal">Decline</button>
                                                                                    </form>
                                                                                    <% } %>
                                                                            </div>
                                                                            <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->
                <div class="tab-pane fade" id="orders-declined" role="tabpanel" aria-labelledby="orders-declined-tab">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table class="table app-table-hover mb-0 text-center	">
                                    <thead>
                                        <tr>
                                            <th class="cell">IV No.</th>
                                            <th class="cell">Station</th>
                                            <th class="cell">S. No.</th>
                                            <th class="cell">Scheme</th>
                                            <th class="cell">DateOfReceival</th>
                                            <th class="cell">Approval</th>
                                            <th class="cell">ActionBy</th>
                                            <th class="cell">ActionDate</th>
                                            <th class="cell"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% rvouchersData.forEach(function(rcv) { %>
                                            <% if (rcv.Approval==2 ) { %>
                                                <tr>
                                                    <td class="cell">
                                                        RV/<%=rcv.RVNo %>/<%= rcv.RVYear %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.Receiver %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.SNo %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= rcv.Scheme %>
                                                    </td>
                                                    <td class="cell">
                                                        <%= new Date(rcv.DateOfReceival).toISOString().slice(0, 10) %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval==0 ) { %>
                                                            <span class="badge badge bg-warning">Pending</span>
                                                            <% } else if (rcv.Approval==1 ) { %>
                                                                <span class="badge badge bg-success">Approved</span>
                                                                <% } else if (rcv.Approval==2 ) { %>
                                                                    <span class="badge badge bg-danger">Declined</span>
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval!=0 ) { %>
                                                            <%=rcv.ApprovedBy %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">
                                                        <% if (rcv.Approval!=0 ) { %>
                                                            <%=rcv.ApprovalDate %>
                                                                <% } else { %>
                                                                    -
                                                                    <% } %>
                                                    </td>
                                                    <td class="cell">

                                                        <div class="col-auto">
                                                            <button type="button" class="btn app-btn-secondary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#v<%=rcv.ID%>">View</button>
                                                            <div class="modal fade" id="v<%=rcv.ID%>" tabindex="-1"
                                                                aria-labelledby="v<%=rcv.ID%>Label" aria-hidden="true">
                                                                <div
                                                                    class="modal-dialog modal-xl modal-dialog-scrollable">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="viewRequewstLabel">
                                                                                Received Items List
                                                                            </h5>
                                                                            <button type="button" class="btn-close"
                                                                                data-bs-dismiss="modal"
                                                                                aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <table class="table  table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th scope="col">Item</th>
                                                                                        <th scope="col">Requested</th>
                                                                                        <th scope="col">Passed</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% Object.keys(rvItemlist).forEach(function(rID)
                                                                                        { %>
                                                                                        <% if (rID==rcv.ID) { %>
                                                                                            <% Object.keys(rvItemlist[rID]).forEach(function(item)
                                                                                                { %>

                                                                                                <tr>
                                                                                                    <td>
                                                                                                        <%= item %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= rvItemlist[rID][item].req
                                                                                                            %>
                                                                                                    </td>
                                                                                                    <td>
                                                                                                        <%= rvItemlist[rID][item].passed
                                                                                                            %>
                                                                                                    </td>
                                                                                                </tr>

                                                                                                <% }) %>
                                                                                                    <% } %>
                                                                                                        <% }) %>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <% if(auth==2){ %>
                                                                            <div class="modal-footer">

                                                                                <% if (request.Approval !=1 &&
                                                                                    request.Approval !=2) { %>
                                                                                    <form
                                                                                        action="/ivouchers/action/<%=request.ID%>"
                                                                                        method="post" name="ratings">
                                                                                        <!-- <input type="hidden" name="Id"
                                                                                value=""> -->
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Accept"
                                                                                            class="btn btn-success text-white">Approve</button>
                                                                                        <button type="submit"
                                                                                            name="action_type"
                                                                                            value="Decline"
                                                                                            class="btn btn-danger text-white"
                                                                                            data-bs-dismiss="modal">Decline</button>
                                                                                    </form>
                                                                                    <% } %>
                                                                            </div>
                                                                            <% } %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                </div>
                <!--//tab-pane-->
            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <footer class="app-footer">

    </footer>
    <!--//app-footer-->
</div>