<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">Stations</h1>
                </div>
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <% if(auth==3){ %>
                                <div class="col-auto">

                                    <a href="/stations/new">

                                        <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal"
                                            data-bs-target="#newEntryModal">New Station</button>
                                    </a>

                                </div>
                                <% } %>

                        </div>
                        <!--//row-->
                    </div>
                    <!--//table-utilities-->
                </div>
                <!--//col-auto-->
            </div>
            <!--//row-->


            <!-- <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                    <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab"
                        href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">All</a>
                    <a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-bs-toggle="tab"
                        href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Paid</a>
                    <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab"
                        href="#orders-pending" role="tab" aria-controls="orders-pending" aria-selected="false">Pending</a>
                    <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab"
                        href="#orders-cancelled" role="tab" aria-controls="orders-cancelled"
                        aria-selected="false">Cancelled</a>
                </nav> -->

            <div class="row g-3 mb-4 align-items-center justify-content-between">

                <form class="form-group">
                    <div class="d-flex flex-row-reverse justify-content-between align-items-center" id="filterBns">

                        <div class="d-flex  justify-content-center align-items-center">
                            <label for="searchField">Search:</label>
                            <input type="text" class="form-control" id="searchField" style="max-width: 250px;">
                        </div>
                    </div>
                </form>
            </div>


            <div class="tab-content" id="orders-table-tab-content">
                <div class="fade show">
                    <div class="app-card app-card-orders-table shadow-sm mb-5">
                        <div class="app-card-body">
                            <div class="table-responsive">
                                <table id="stationTable" class="table  app-table-hover mb-0" cellspacing="0"
                                    width="100%">
                                    <thead>
                                        <tr>

                                            <th class="cell">StationID</th>
                                            <th class="cell">Name</th>
                                            <th class="cell">Option</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% stationsData.forEach(function(station) { %>
                                            <tr>
                                                <td class="cell">
                                                    <%= station.ID %>
                                                </td>
                                                <td class="cell">

                                                    <%= station.Name %>

                                                </td>
                                                <td>
                                                    <a href="/stations/edit/<%=station.ID%>">
                                                        <button type="button"
                                                            class="btn app-btn-secondary">Edit</button>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                            <!--//table-responsive-->

                        </div>
                        <!--//app-card-body-->
                    </div>
                    <!--//app-card-->
                    <!-- <nav class="app-pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                    <!--//app-pagination-->

                </div>
                <!--//tab-pane-->


                <!--//tab-pane-->
            </div>
            <!--//tab-content-->



        </div>
        <!--//container-fluid-->
    </div>
    <!--//app-content-->

    <%- include('../partials/footer'); %>
        <!--//app-footer-->

</div>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<script>
    alertify.set('notifier', 'position', 'top-right');
    var status = '<%= status %>';
    console.log(status);
    if (status == 'Addsuccess') {
        alertify.success('Station Added Successfully!');
    } else if (status == 'Editsuccess') {
        alertify.success('Station Updated Successfully!');

    } else if (status == 'Deletesuccess') {
        alertify.success('Station Deleted Successfully!');

    } else if (status == 'Existerror') {
        alertify.warning('Station Already Exists!');
    }
</script>